[2016-12-12 06:57] nikhilkumarsingh opened #2 "Use Duckduckgo instead of google"
There are several reasons to support duckduckgo instead of google for your query server:
- As of now, there is no python 3 version of Mechanize library.
- Dependency of mechanize library is removed if we try to scrape the duckduckgo search results.
- Your IP is more prone to getting blocked by google as compared to duckduckgo if you exceed the no. of permissible requests.

So, should I make a pull

[2016-12-16 09:36] mariobehling opened #3 "The query server does not give an xml output"
No XML output yet, but it should.

[2016-12-16 19:37] nikhilkumarsingh commented on #3
Use html5lib parser instead of html.parser

[2016-12-18 13:56] enigmaeth commented on #2
Okay. Go on!

[2016-12-18 13:59] nikhilkumarsingh commented on #3
I think this issue must be closed now...

[2016-12-18 14:22] niranjan94 commented on #3
@nikhilkumarsingh I don't see how this issue is related to PR #4 ..

[2016-12-18 15:01] nikhilkumarsingh commented on #3
@niranjan94 The earlier version used html.parser which was giving errors in parsing the HTML content.
So, I used html5lib as HTML parser. This resolved the issue. :)

[2016-12-18 15:21] niranjan94 commented on #3
@nikhilkumarsingh I think you misunderstood ... This issue is about the fact that the query server is not providing an **XML Output**. Not related to parsing of webpages.

[2016-12-18 17:20] nikhilkumarsingh commented on #3
@niranjan94 Did you mean that the xml output is not getting saved into files?
Check out PR #5. It works for me in all respects.

[2016-12-19 04:02] mariobehling commented on #3
@nikhilkumarsingh XML output still not working. The issue is about XML output. If it works for you, please provide an XML sample output that we can see.

[2016-12-19 04:58] nikhilkumarsingh commented on #3
Please have a look at this file. This file gets generated using new version : https://github.com/nikhilkumarsingh/query-server/blob/9a735f14af371baf96166409fdf7ad3280225505/data/india.xml

[2016-12-19 06:40] enigmaeth commented on #3
@mariobehling The server provides the XML output in the console. Also a file which contains the XML output  is saved with the name of the 'query string', in **query-server/data** folder. I think you weren't able to find the stored files. Please explain the issue in case I misunderstood!

[2016-12-19 09:47] mariobehling commented on #2
@nikhilkumarsingh Thank you. It would be great to get support for both. We definitely need to keep the support for Google.

[2016-12-19 09:48] mariobehling commented on #2
This is also a follow up to https://github.com/fossasia/searss/issues/6#issuecomment-267818630

[2016-12-20 07:12] djmgit opened #7 "Repeatation of query strings in query_list.txt"
In query_list.txt same query strings are stored multiple times. For example, searching the following :
"fossasia", "openspource","opensource is fun" one after the other stores the following in query_list.txt :

[code]
(I deleted the existing contents of query_list.txt before executing the above)

I think this is happening because the entire query list is being appended to the query_list.txt file e

[2016-12-20 07:16] djmgit commented on #2
@mariobehling should the user be provided with an option to choose between google and duckduckgo before providing the search string or the search result should be a combination of the results of google and duckduckgo without letting the user bother about the search engine ?

[2016-12-20 08:05] nikhilkumarsingh commented on #2
Since top search results for any query are almost same on both engines, it does not make any sense to use a combination of both results.
User must be given choice to select the search engine in my opinion.

[2016-12-20 08:31] djmgit commented on #2
@nikhilkumarsingh Okay, I will be sending a PR soon

[2016-12-20 08:48] nikhilkumarsingh commented on #2
@djmgit I am already using my patch from [searss](https://github.com/fossasia/searss) and have made PR #8 .

[2016-12-20 09:01] djmgit commented on #2
@nikhilkumarsingh okay :)

[2016-12-23 17:31] #7 closed

[2016-12-24 08:41] #2 closed

[2016-12-25 17:26] nikhilrayaprolu opened #10 "what are all need to be done to get query-server deployable"
@enigmaeth @mariobehling
this is in regards to issue https://github.com/fossasia/open-event-orga-server/issues/2675
so what all are left to get the query server hosted?
If it is deployable. can I work on deploying the query-server

[2017-01-03 03:57] rhemon commented on #3
I am also having that problem
when I do a query, not matter what the string is, it turns to 'undefined'
[code]
also it says this ` saved to file : query-server/data/undefined.xml` but there is no such file in the data folder

[2017-01-03 04:22] rhemon opened #11 "AttributeError for DuckDuckGo search"
I have mentioned this problem in [searss](http://github.com/fossasia/searss) in https://github.com/fossasia/searss/issues/13 and also have done a PR with its fix https://github.com/fossasia/searss/pull/14

If the PR there is accepted, if allowed I would also like to update the rss-generator.py here.

[2017-01-03 04:34] rhemon opened #12 "Add Bing as an option"
If its alright, I would like to add bing as an option for the search engines

[2017-01-03 05:20] rhemon commented on #12
This is also mentioned in  https://github.com/fossasia/searss/issues/15 and also did a fix for it - https://github.com/fossasia/searss/pull/16
if changes are approved there, I will do the changes in this server

[2017-01-03 08:34] rhemon commented on #3
the XML file for google search is getting created successfully, but it is not creating when its doing the query with duckduckgo (or bing). I think thats what @mariobehling meant in this issue @enigmaeth

[2017-01-03 08:43] rhemon commented on #3
sorry, its working, xml files are created

[2017-01-03 08:50] rhemon commented on #3
I think this was problem was with duckduckgo query since it didnt happen properly because of the AttributeError, mentioned in https://github.com/fossasia/query-server/issues/11
The problem should be fixed with https://github.com/fossasia/query-server/pull/13

[2017-01-03 09:33] #11 closed

[2017-01-05 17:36] #12 closed

[2017-01-07 21:27] mariobehling opened #15 "Set up travis and other tests"
We have added a starter file for travis. Please help to make travis work and add other tests.

[2017-01-07 21:28] lakshaykalbhor opened #16 "Travis .yml file is incorrect or doesn't exist."
There currently doesn't seem to be a travis yml file for this repository, hence the pull requests run against some ruby tests [(?)](https://travis-ci.org/fossasia/query-server/jobs/189861412). Lets add proper tests.

[2017-01-07 21:28] #16 closed

[2017-01-08 01:18] Heredroky commented on #15
I want to work on this

[2017-01-08 18:08] Heredroky commented on #15
@mariobehling What do you think if Codecov is added to the repository?

[2017-01-08 18:08] Heredroky commented on #15
#17

[2017-01-09 15:15] lakshaykalbhor opened #18 "Update README"
The readme contains html5lib and mechanize as dependencies. Now that we're using requests, we don't require html5lib and mechanize, hence the readme should be revamped.

@mariobehling May I change the readme and also add workflow gifs,etc just like in [searss](https://github.com/fossasia/searss)?

[2017-01-10 03:35] mariobehling commented on #18
@lakshaykalbhor Yes, sure. Thanks

[2017-01-11 15:46] #18 closed

[2017-02-20 17:45] enigmaeth opened #21 "Add a Graphical User Interface"
The server is a command line tool currently. Add a GUI so that when deploying this server as a service, we can have a landing/home page similar to the one at https://loklak.org/ or http://api.asksusi.com/ .

[2017-02-20 17:50] enigmaeth opened #22 "Store the results in a database rather than in files"
Currently, a file contains all the queried strings and the results of each query are stored in separate files.

Add a database to store the queries and strings.

[2017-03-01 12:59] abhishek1995s commented on #10
It can be deployed even in this form . But it is better to wait till we complete rest. In the case of using a a front end a web interface might be needed. So django or flask framework will be suitable for that.

[2017-03-01 14:36] niranjan94 commented on #10
I'll leave getting the `query-server` to a deploy-able state to you guys :)

But make sure it is, **_at minimum_** deploy-able to a docker infrastructure.

[2017-03-02 06:39] #21 closed

[2017-03-02 06:45] #22 closed

[2017-03-02 08:00] enigmaeth opened #26 "Update README file"
The README file contains instructions pertaining to the old command line based usage. Update it according to the current state.

[2017-03-02 08:49] #26 closed

[2017-03-03 12:59] enigmaeth commented on #10
@mariobehling The server has been deployed here : https://query-server.herokuapp.com/

[2017-03-03 13:17] #10 closed

[2017-03-05 17:02] niranjan94 opened #34 "Re-organize the repository"
@enigmaeth

Let's move all the app code into an `src` directory.
Let the root have all the meta files such as `.travis.yml`, `package.json`, `requirements.txt` etc

[2017-03-06 19:31] #34 closed

[2017-03-12 10:27] #3 closed

[2017-03-17 02:25] niranjan94 opened #41 "Empty search result for Yahoo"
Yahoo search is not working.

More info here: https://github.com/fossasia/query-server/pull/40#issuecomment-287246522

[2017-03-20 03:07] abhishek1995s commented on #41
![image](https://cloud.githubusercontent.com/assets/14086935/24087692/4aa468e2-0d48-11e7-9533-3bfae43330e0.png)
@niranjan94 Got it correctly will updated soon after some testing

[2017-03-23 11:24] abhishek1995s commented on #41
@niranjan94 Since the bug has been resolved it will be better to close this issue

[2017-03-23 19:43] #41 closed

[2017-04-01 17:31] abhishek1995s opened #44 "Api for query server"
@niranjan94 I am currently working on creating an api for query server. Can you please specify the parameters to be passed to query server by external user to get the response.

[2017-04-01 17:46] niranjan94 commented on #44
There is already an API for query-server

[2017-04-01 17:46] niranjan94 commented on #44
@abhishek1995s

[2017-04-02 13:18] #44 closed

[2017-04-05 10:37] niranjan94 opened #45 "Combine server and scrapper onto a single platform"
Right now we have the following:
- Server in Node.js
- Scrapper in python

and the server executes the python as a process. Which is not efficient at all. Imagine once this is integrated into the Open Event project. There might be many API calls coming to the query-server and each of these API calls will be spawning a new python process. We'll be having so many process spawns (one for each API cal

[2017-04-05 10:38] niranjan94 opened #46 "Provide json output along with xml output"

[2017-04-06 10:59] abhishek1995s commented on #45
![screenshot from 2017-04-06 16-16-21](https://cloud.githubusercontent.com/assets/14086935/24751129/06bc7fe2-1ae6-11e7-88a8-180ae4f20ca4.png)
![screenshot from 2017-04-06 16-16-55](https://cloud.githubusercontent.com/assets/14086935/24751138/0f4ce26e-1ae6-11e7-9426-193c628f8634.png)
@niranjan94 implemented both web interface and API using flask framework

[2017-04-06 12:43] niranjan94 commented on #45
Please keep all frontend and the API structure just like the current node.js implementation.

From the looks of it, the following seem different
- The frontend UI seems to be lacking the syntax highlighting that we have now
- The API URL is different.
- The json API schema should be of the format
[code]

Also, make a PR so that the code could also be reviewed.

[2017-04-06 12:47] abhishek1995s commented on #45
@niranjan94  what is the required url format for the api I will change accordingly

[2017-04-06 12:47] niranjan94 commented on #45
@abhishek1995s please check the existing codebase

[2017-04-06 12:48] abhishek1995s commented on #45
okay

[2017-04-06 12:50] niranjan94 commented on #45
@abhishek1995s we need the API endpoint like this.

`GET /api/v1/search`

Can accept the following query parameters.
1. `query` - will contain the query to search for *(required)* parameter.
2. `format` - can have either `json` or `xml` (default: `json`)

**Examples:**
1. `GET /api/v1/search?query=hello&format=xml`
1. `GET /api/v1/search?query=hello+world&format=xml`
1. `GET /api/v1/search?query=h

[2017-04-15 11:28] niranjan94 commented on #45
@enigmaeth

**Error responses:**
- Incorrect search engine - return `404 - Not Found`
- Zero responses - return `404 - Not Found`
- if `format` is something other than xml or json - return `400 - Bad Request`
- if `query` is empty or missing - return `400 - Bad Request`

[2017-04-16 16:19] #45 closed

[2017-04-16 16:20] #46 closed

[2017-04-16 16:22] niranjan94 opened #49 "Set proper content-type headers when returning data"
Right now, for both `json` and `xml` the return content type is `text/html`. Ensure proper content type and no-cache headers are set.

[2017-04-16 16:23] niranjan94 opened #50 "Return appropriate error responses."
- Incorrect search engine - return `404 - Not Found`
- Zero responses - return `404 - Not Found`
- if `format` is something other than `xml` or `json` - return `400 - Bad Request`
- if `query` is empty or missing - return `400 - Bad Request`

Along with the proper HTTP Status code header, the body should also contain the error message in either json or xml (depending on what was asked by the user)

[2017-04-16 22:25] enigmaeth commented on #50
This, and that default format is json implies currently that requests of the form `google/query=wiki&format=` will return JSON response. An error is returned only when the format is in none of these forms :  `format=json` or `format=xml` or `format=` .

[2017-04-19 04:28] #49 closed

[2017-04-19 04:28] #50 closed

[2017-04-19 04:40] niranjan94 opened #52 "Syntax-highlighting missing for JSON response"
<img width="1680" alt="screen shot 2017-04-19 at 10 09 38 am" src="https://cloud.githubusercontent.com/assets/2404372/25163477/54b1f5ea-24e8-11e7-9a2c-f449f442d020.png">

[2017-04-24 11:52] mariobehling opened #54 "Auto-deploy query server on merged pull request on Heroku"
Please set up the query server on Heroku from the master branch and add the info to the Readme.md.

[2017-04-24 11:53] niranjan94 commented on #54
@mariobehling we already have that -> https://query-server.herokuapp.com/

[2017-04-24 12:17] mariobehling commented on #54
Oh, missed it. It should be added to the Readme then, please.
Thanks.

[2017-04-24 13:51] enigmaeth commented on #54
@mariobehling  It is there is the repo description. Should I add to the Readme file also?

[2017-04-25 12:48] niccokunzmann opened #55 "Create a LICENSE file"
Please choose an open-source license for the project.

[2017-04-25 13:01] mariobehling commented on #55
Please add Apache 2.

[2017-04-25 13:21] #55 closed

[2017-04-25 13:24] niranjan94 commented on #55
Resolved by 750b0254766a5cc2bfa71e920558434ed3585f9e

[2017-06-08 07:31] #54 closed

[2017-06-08 07:31] #15 closed

[2017-06-08 07:51] mariobehling opened #57 "Improve scraper to provide teaser text"
Currently the teaser text is being shown only for BING on query-server, but it isn't being shown for other search engines. Please improve the scraper to provide teaser text for Google and other search engines as well.

[2017-06-08 07:53] mariobehling opened #58 "Improve scraper to provide results for image, videos and file-types"
Image and video results don't have any endpoint in API of query server currently, which specifically takes file-type as input. Please implement it to allow us to include a query service for images and videos as well.

[2017-06-08 08:27] mariobehling opened #59 "Increase number of results to 100"
Currently search results are limited to 10 results. Please increase the output to 100 results per search.

[2017-06-08 08:28] mariobehling opened #60 "The search results sometimes provide a link with a cryptic ending"
Some search results have a cryptic addition at the end, e.g. as follows
`	<item>
		<title>FOSSASIA Summit 2017 | Asia's Open Technology Event about ...</title>
		<link>http://2017.fossasia.org//RK=1/RS=KKHGnF8gw2hmJFCYS8.5sUEeQ6o-</link>
	</item>
	<item>
`
Please find the reason for this and take it out.
![screenshot from 2017-06-08 10-25-04](https://user-images.githubusercontent.com/1583873/26919

[2017-06-15 06:56] nikhilrayaprolu opened #63 "Develop different scrapers that can plug into the query server"
As per the discussion on gitter channel by @mariobehling different scrapers for each domain, similar to the loklak server be implemented.

[2017-06-15 08:19] enigmaeth commented on #63
@nikhilrayaprolu I haven't gone through the loklak server's code much, but by this do you mean that the scrapers for different domains should be in separate files? Could you please provide me the link to loklak server's implementation so that I can take a look?

[2017-06-15 17:50] nikhilrayaprolu commented on #63
loklak_server has something like this,
https://github.com/loklak/loklak_server/blob/development/src/org/loklak/harvester/TwitterScraper.java
https://github.com/loklak/loklak_server/blob/development/src/org/loklak/api/search/GenericScraper.java
https://github.com/loklak/loklak_server/blob/development/src/org/loklak/harvester/WeiboInfoScraper.java
https://github.com/loklak/loklak_server/blob/develop

[2017-07-10 16:46] nikhilrayaprolu opened #66 "pressing the active format button should not make it inactive"
when an active format button is clicked, it makes it inactive and sets format=None in the request parameters. this is leading to an error 400 error.
**before pressing the button**
![image](https://user-images.githubusercontent.com/15216503/28029331-5489bef2-65bd-11e7-8550-a10032ee2447.png)
**after pressing the button**
![image](https://user-images.githubusercontent.com/15216503/28029348-62b282fc-6

[2017-07-12 07:39] imujjwal96 opened #70 "Implement Yaydoc docs generation in query-server"
[Yaydoc](http://yaydoc.fossasia.org/) is FOSSASIA's own automatic documentation generation and deployment project. At the crux of it, Yaydoc generates a documentation website using the markdown present in a project's repository and keeps the website in sync with the changes made in project's documentation.

The project has been under development since the start of GSoC 2017 and we believe that it

[2017-07-13 06:48] #60 closed

[2017-08-09 06:52] #70 closed

[2017-08-10 06:33] ksubbu199 opened #121 "Adding ask.com support"
This will be an enhancement to the existing project

[2017-08-10 15:29] #57 closed

[2017-08-11 02:42] pratik0509 opened #123 "app not executing on Python 3.x"
README.md shows that :

 But dependencies using pip could not be installed for python3.x .

Quoting the error message :

This is because librabbitmq is not supported in Python3.x version.
Please change the README.md .

[2017-08-11 12:28] #66 closed

[2017-08-11 13:00] cclauss commented on #123
The librabbitmq code on GitHub has this problem fixed but that fix is not in the current librabbitmq release.

[2017-08-11 15:20] pratik0509 commented on #123
@cclauss Although it has been fixed but it is still not in the release, so the current version README.md should conform to latest release version of librabbitmq . Please correct me if I am mistaken.

[2017-08-11 18:18] gabru-md opened #124 "add a field for number of results"
Referring to Issue : #59

I suggest If there could be a drop-down for the number of results.
As it could be user's choice to get a particular number of data as results.

Thanks!

[2017-08-11 20:46] cclauss commented on #123
Hi @pratik0509 You are correct...  I was writing too fast and did not express myself clearly.  As you can see above, I have commented on an issue in upstream.  However, that issue has been for a year and a half...

[2017-08-11 21:04] cclauss commented on #123
The dependency `mechanize` is also not Python 3 compatible...

https://github.com/fossasia/query-server/blob/master/requirements.txt#L12

[2017-08-12 06:13] cclauss opened #125 "app/scraper.py is not Python 3 compatible"
This script raises a NameError when run in Python 3.

[2017-08-12 06:49] cclauss opened #126 "Are there unused dependancies in requirements.txt?"
[README.md](..#dependencies) currently lists the project dependencies as:
Dependencies
* Python 2.x or Python 3.x
* Node.js
* Pip
* Flask
* BeautifulSoup4

But [requirements.txt](../requirements.txt) currently list many more dependencies.

This repo only contains [two Python scripts](https://github.com/fossasia/query-server/search?l=python) and a quick read of them says that they use:
* `server.py

[2017-09-07 06:20] Pk13055 commented on #52
I would like to pick this up. What exactly do you mean by syntax highlighting?

[2017-09-07 06:22] Pk13055 commented on #125
Can I pick this up? Make it cross compatible across Python2/3.x
? @niranjan94

[2017-09-07 06:23] Pk13055 commented on #63
@nikhilrayaprolu  Can I pick this up?

[2017-09-07 20:07] #124 closed

[2017-09-09 13:39] jajodiaraghav commented on #52
Hi @Pk13055
Are you working on this or can I take this?

[2017-09-09 13:48] Pk13055 commented on #52
I am working on it.

On Sep 9, 2017 7:09 PM, "Raghav Jajodia" <notifications@github.com> wrote:

[2017-09-09 17:55] treeJoker opened #134 "queries are not being added to database"
The "things" being searched are not added to the database..........

<img width="611" alt="screen shot 2017-09-11 at 8 14 42 pm" src="https://user-images.githubusercontent.com/22785584/30280670-fc3011fa-972d-11e7-8f3a-7ed9428f1346.png">

the condition inside this if is wrong.

<img width="561" alt="screen shot 2017-09-11 at 8 17 56 pm" src="https://user-images.githubusercontent.com/22785584/302809

[2017-09-10 06:19] prabhavgupta opened #136 "Common Results"
Add a tab to show 10 results that are common to all the search engines for the stated query.

[2017-09-10 18:44] mariobehling commented on #136
Not sure, what you mean. I think it is not necessary.

[2017-09-10 18:50] mariobehling opened #137 "Set up Yacy Grid and Query Server and add Query Server to provide service"
One goal of Query Server should provide search results to the Yacy Grid server. The results can be used as way to verify results or add an additional layer of search results.

Please set up Yacy Grid and check possibilities to run Query Server as a component.

[2017-09-10 21:11] prabhavgupta commented on #136
Like if you search for hello , it will search in all 4 search engines , and give cumulative ranking based on all 4 rankings. And then show results based on rankings.

[2017-09-10 22:12] treeJoker opened #139 "add a youtube support"
this would be an enhancement to the existing project

[2017-09-11 08:38] AnshulMalik opened #140 "TypeError on query-server.herokuapp.com"
I used this query: https://query-server.herokuapp.com/api/v1/search/google?query=anshul&format=json&num=10

And this is what I got :

![queryoffline](https://user-images.githubusercontent.com/7821757/30265721-a77acaca-96fa-11e7-93ce-0e4615a9effd.png)

[2017-09-11 11:12] gabru-md commented on #140
Do you get TypeError with all the Search Engines?
Or is it specifically an issue with Google Search?

[2017-09-11 11:14] AnshulMalik commented on #140
It's specific to google search @gabru-md

[2017-09-11 17:31] Pk13055 commented on #63
Currently working on this, will submit a PR soon.

[2017-09-11 17:34] Pk13055 commented on #139
Working on Quora right now, will add YouTube once I'm done with that.

[2017-09-11 18:19] treeJoker commented on #139
Buddy you focus on quora  I'll manage the youtube one

On 11-Sep-2017 11:24 PM, "Pratik Kamble" <notifications@github.com> wrote:

[2017-09-11 20:17] treeJoker commented on #137
@mariobehling can you please explain in detail what has to be done...........
so far i can only get that we have to add the query result from our database to the public index of yacy grid...

[2017-09-12 11:26] gabru-md commented on #140
@AnshulMalik ,
I ran the code on my machine locally and found out that it was caused when the server returned a 500 response.
A 500 response is a response where there is generally an `internal_server_error`.
Try running the following code if you want to know about any `status_codes` :

[code]
It happened to me while I was working on it too. Took me a lot of time but found out eventually!
:D

[2017-09-12 11:54] gabru-md opened #142 "update Readme and Handle TypeError"
- [x] update `readme.md` with the latest parameters for the parameters, i.e. including the number of results to be searched for.
- [x] Handling TypeError for the same , whenever a 500 request is sent from the server.

I would like to work on this issue.
Thanks :D

[2017-09-12 22:22] Pk13055 commented on #139
Sure!

[2017-09-13 00:17] #63 closed

[2017-09-14 17:07] gabru-md commented on #140
Well I've figured out a way to handle errors. This happens because of Google Server giving a 500 code response. I'll be sending a PR for the same soon.
PS :@mariobehling

[2017-09-14 17:24] gabru-md commented on #142
A pull request has been issued for the same. Meanwhile I'm ticking the check-boxes as these are covered in the Pull Request.

[2017-09-15 02:53] AnshulMalik commented on #125
Yes @Pk13055 feel free

[2017-09-15 06:33] cclauss opened #147 "librabbitmq contains at least one Python 3 syntax error"
The version of librabbitmq that this project is using contains at least one Python 3 syntax error.

See: https://github.com/celery/librabbitmq/pull/99

https://travis-ci.org/fossasia/query-server/jobs/275757559#L479
[code]

[2017-09-15 06:36] cclauss commented on #147
The PR above refers to this issue but it does not fix or resolve this issue.

[2017-09-16 08:24] Pk13055 commented on #147
@mariobehling Please review.

[2017-09-16 09:03] Pk13055 commented on #121
#148

[2017-09-17 06:22] sounak98 opened #150 "Page not responsive"
The page becomes unusable in smaller screen sizes

![screen shot 2017-09-17 at 11 50 21 am](https://user-images.githubusercontent.com/22390515/30518543-88c86bca-9b9e-11e7-9e55-eee9be829e67.png)

[2017-09-17 06:23] sounak98 commented on #150
I'd like to work on this.

[2017-09-17 21:04] Pk13055 commented on #139
What's the status? @treeJoker

[2017-09-17 21:06] Pk13055 commented on #150
@sounak98 Have you pushed yet?

[2017-09-17 21:09] Pk13055 commented on #147
@cclauss Do we need librabbitmq in the first place? Looking at the dependencies, it seems that the import is unnecessary? (contrary to #126)

[2017-09-17 21:10] Pk13055 commented on #125
@cclauss This issue is outdated given the modular nature of the scrapers now. Please close this issue.

[2017-09-17 21:15] Pk13055 opened #151 "Python3.x: Making scrapers Python3 exclusive and adhere to PEP 8 standards"
Given compatibility issues, all scrapers and the app in general should be ported to Python3.
- [x] Update all functions and modules to Python 3.
- [x] Adhere to PEP 8 styling standards.

[2017-09-17 21:34] cclauss commented on #126
html5lib should remain in requirements.txt because it is used by bs4.
* https://www.crummy.com/software/BeautifulSoup/bs4/doc/#installing-a-parser

[2017-09-17 21:35] Pk13055 commented on #151
@hpdang Can you please review.

[2017-09-17 22:29] Pk13055 opened #153 "Change administrative branch policy?"
https://github.com/fossasia/badgeyay/issues/99
@niccokunzmann

[2017-09-18 04:55] treeJoker commented on #139
buddy I am working on it but since my exams are going on the process has
become somewhat slow

On 18-Sep-2017 2:34 AM, "Pratik Kamble" <notifications@github.com> wrote:

[2017-09-18 16:32] Pk13055 commented on #150
Are you working on this? @sounak98

[2017-09-19 08:03] shashank-sharma opened #154 "Number of queries fetched from duckduckgo is not equal to the num value"
![screenshot from 2017-09-19 13-33-57](https://user-images.githubusercontent.com/9320644/30581847-38270882-9d3f-11e7-8b7c-2d6b9f61952e.png)

As shown in image even if the value of num is set to 10 we are getting 30 results.
URL: http://0.0.0.0:7001/api/v1/search/duckduckgo?query=fossasia&format=json&num=10
Issue with Duckduckgo search engine only. For rest it's working fine.

[2017-09-19 08:04] shashank-sharma commented on #154
This issue is not that tough, but I would like to work on this and fix it.

[2017-09-19 08:05] gabru-md commented on #154
Yes i know this.
When i developed this "num" parameter I was not able to make it for duckduckgo because they have infinite scroll search.
Therefore the num feature does not work for duckduckgo.  If you would like to make it possible please go ahead.
:+1:

[2017-09-19 18:10] shashank-sharma commented on #58
I would like to work on this issue.

[2017-09-21 06:42] sakshampatni02 commented on #150
I like to Work on It

[2017-09-21 07:33] S2606 opened #156 "Add deploy to docker button"
Button for uploading to docker cloud

[2017-09-21 07:35] gabru-md commented on #156
Will do it.

[2017-09-21 07:39] S2606 commented on #156
@gabru-md Sorry to say but i was ntrested to work on it.

[2017-09-21 07:40] gabru-md commented on #156
No worries @S2606
You may do it. I'll look at other issues
Cheers!

[2017-09-21 16:37] vaibhavsingh97 opened #157 "Look and feel of website"
**Current Behaviour:**
All buttons looks same

**Expected Behaviour:**
Buttons should have logo of the search engine

I am interested in working on this issue

[2017-09-21 18:47] AnshulMalik opened #159 "Write Tests"
We don't have any tests at the moment and would love to test our scrapers.

Let's discuss the choice of tester.
- Unittest https://docs.python.org/2/library/unittest.html

[2017-09-21 18:57] vaibhavsingh97 opened #160 "Responsiveness of website"
**Current Behaviour:**
As of now, there is no/less responsiveness as in mobile mode searchbox disappears, and other buttons behaves abnormally.
![image](https://user-images.githubusercontent.com/8705386/30713275-549b463e-9efe-11e7-8102-c3e2f53b22e8.png)
![image](https://user-images.githubusercontent.com/8705386/30713304-6bd1c134-9efe-11e7-98fd-d6b12efc06c7.png)
![image](https://user-images.githubu

[2017-09-21 19:06] vaibhavsingh97 opened #161 "Migration of Bootstrap v3 to Bootstrap v4"
**Need of migration:**
- New 5 tier grid system for smaller screens
Bootstrap has a sophisticated responsive grid system that allows developers to target devices with different viewports. Bootstrap 3 currently has 4 grid classes for columns, .col-xs-XX for mobile phones, .col-sm-XX for tablets, .col-md-XX for desktops, and .col-lg-XX for larger desktops. Bootstrap 4 will enhance the grid system wi

[2017-09-21 19:16] vaibhavsingh97 opened #162 "Display of necessary information in the website"
It should display
- [ ] (1) installation information
  - [ ] (1.1) git commit/version number
  - [ ] (1.2) Python version number
  - [ ] (1.3) If required packages are installed and which are installed
- [ ] (2) a link to gitter with an inviting text to get started and contribute
- [ ] (3) Details of maintainer of the project in footer

**I want to work on this issue**

[2017-09-21 19:19] vaibhavsingh97 commented on #159
@AnshulMalik I am interested to write test cases for this project 😄

[2017-09-22 05:08] shashank-sharma commented on #160
Same as #150 issue.

[2017-09-22 08:33] Kanav-7 opened #163 "Adding Dailymotion support."
I am currently working on this issue

[2017-09-22 15:12] #157 closed

[2017-09-22 15:13] #154 closed

[2017-09-22 15:15] #142 closed

[2017-09-22 17:37] Pk13055 commented on #161
I don't see this as a necessity. The query server is essentially meant to be a JSON API, and the frontend isn't _as_ important as that for other projects. However, given the one page nature of the application, this wouldn't be such a difficult upgrade and probably won't lead to anything breaking. What say, @mariobehling?

[2017-09-22 17:44] Pk13055 commented on #159
How about [`pytest`](https://docs.pytest.org/en/latest/)? Given the small size of the project and relatively easy tests, it would be easier to use pytest.

[2017-09-22 17:52] AnshulMalik commented on #159
@Pk13055 , Yeah, it seems like a good choice

[2017-09-22 17:54] Pk13055 commented on #159
However, can we wait for the Python 3 port (#152)  to get merged? It'll be easier to be on a specific standard, rather than try supporting tests across various Pythons.

[2017-09-22 17:55] Pk13055 commented on #160
@vaibhavsingh97 Please close this issue, and reference #150 in your PR.

[2017-09-22 17:57] Pk13055 commented on #136
Can you close this issue, if no further discussion is necessary, @prabhavgupta

[2017-09-22 17:58] vaibhavsingh97 commented on #160
@Pk13055 Sure 😄

[2017-09-22 17:58] Pk13055 commented on #123
@pratik0509 Can you close this issue, given the latest Python3 port PR (#152).

[2017-09-22 18:00] AnshulMalik commented on #159
Is it so, that tests will depend on the python version? Unit testing should be simple

[2017-09-22 18:05] vaibhavsingh97 commented on #159
@AnshulMalik It supports python 2 too
![image](https://user-images.githubusercontent.com/8705386/30758096-8f172216-9fc0-11e7-8144-447bdbf35a7c.png)

[2017-09-22 21:13] ms10398 opened #166 "Showing Internal Server Error when tried to search on Query Server"
Query Server responded with 500 Internal Server Error
Update: Error showing only when searching using Google

![screenshot from 2017-09-23 02-41-14](https://user-images.githubusercontent.com/26259547/30764512-ee7077ba-a008-11e7-996d-8c2dcd55582c.png)

[2017-09-22 21:54] vaibhavsingh97 commented on #166
@ms10398 It's a known bug and it only appears when you Google it.

[2017-09-22 21:56] ms10398 commented on #166
@vaibhavsingh97 Okay I didnt knew that.
Thank you

[2017-09-22 21:59] vaibhavsingh97 commented on #166
@ms10398 Why you closed the issue? We need to solve that 😄
I am interested in working on this 😬

[2017-09-22 22:01] ms10398 commented on #166
Sure Go Ahead

[2017-09-22 23:16] cclauss commented on #123
Our Travis tests fail on Python 3:

https://github.com/fossasia/query-server/pull/168/files
https://travis-ci.org/fossasia/query-server/builds/278811497
This issue should be reopend and should remain open until our Travis tests pass on Python 3.

[2017-09-22 23:18] pratik0509 commented on #123
Sorry. Failed to notice that.

[2017-09-23 06:50] #150 closed

[2017-09-23 07:20] rupav commented on #59
@mariobehling  Please close this issue. I can see required changes on [https://query-server.herokuapp.com/](url)

[2017-09-23 07:22] gabru-md commented on #59
Should be closed according to #128

[2017-09-23 08:24] vaibhavsingh97 commented on #166
@ms10398 Created PR, please review

[2017-09-23 08:42] vaibhavsingh97 commented on #162
Closing as #167 fix this issue

[2017-09-23 08:42] #162 closed

[2017-09-23 08:42] vaibhavsingh97 commented on #160
Closing as #167 fix this issue

[2017-09-23 08:42] vaibhavsingh97 commented on #150
Closing as #167 fix this issue

[2017-09-23 08:55] #160 closed

[2017-09-23 08:55] vaibhavsingh97 commented on #159
@AnshulMalik Can i work on this?

[2017-09-23 12:59] #166 closed

[2017-09-23 15:00] vaibhavsingh97 opened #174 "Intgration of Hound CI"
- Bot comments on style violations in GitHub pull requests, allowing us to better review and maintain a clean codebase.

[2017-09-23 15:00] vaibhavsingh97 commented on #174
I am claiming this

[2017-09-23 16:16] S2606 opened #175 "Add template of Issues and contributions"
Basic guidlines for issues and pull request.

**Would you like to work on this??**
Yes

[2017-09-23 16:19] #153 closed

[2017-09-23 16:20] Pk13055 commented on #159
@vaibhavsingh97, let us wait for the Python 3 port to get merged before adding this. Also, tests would be a comprehensive feature which multiple people can work on. It would make no sense to have one person implement all. I will add an issue with the relevant tests, and you can pick any one part from the same. Sounds good?

[2017-09-23 16:26] vaibhavsingh97 commented on #159
@Pk13055 yeah I know !! Perfect

[2017-09-24 04:19] S2606 opened #183 "Adding AOL support"
Adding enhancement to the project.

**Would you like to work on this?**
yes

[2017-09-24 14:30] aviaryan opened #184 "Application error on website"
I see this error when I open the website https://query-server.herokuapp.com/.

![screen shot 2017-09-24 at 7 59 38 pm](https://user-images.githubusercontent.com/4047597/30783584-edcdede6-a162-11e7-9f65-1785bb2054f0.png)

[2017-09-24 15:53] alakareddy commented on #137
I would like to work on this issue.

[2017-09-24 17:57] #121 closed

[2017-09-24 19:30] sayak119 opened #185 "Updating README.md"
Addition of new search engine. Ask.com

[2017-09-24 19:47] #185 closed

[2017-09-25 04:46] anshumanv opened #187 "Update ask_icon"
The current ask_icon has white background (unlike icons of other search engines) and thus needs to be replaced with icon that has transparent background.

- [x] *I'd like to work on this*

[2017-09-25 05:03] gabru-md opened #188 "Results count for Ask.com"
Add the number of results field for ask.com as well.It is there on web gui but server still responds with random number of queries.

**yes i would like to work on it.**

[2017-09-25 05:54] ms10398 opened #190 "Heroku Deployment not working"
When visiting this link[https://query-server.herokuapp.com/]
It shows application error

**Screenshot is below**

![screenshot from 2017-09-25 11-21-30](https://user-images.githubusercontent.com/26259547/30794100-e74f519a-a1e3-11e7-87f3-8746141c7b0c.png)

[2017-09-25 15:29] vaibhavsingh97 commented on #184
@aviaryan Do you want to work on this?

[2017-09-25 16:51] aviaryan commented on #190
Duplicate of #184

[2017-09-25 16:54] aviaryan commented on #184
No, sorry I don't have the time to work on this atm.

[2017-09-25 17:03] S2606 commented on #184
@aviaryan i would like to work on this

[2017-09-25 17:06] vaibhavsingh97 commented on #190
I am claiming issue this issue

[2017-09-25 17:11] AnshulMalik opened #191 "[Code Quality] Generalize scrapers"
All the scrapers contains redundant code at the moment, which can be generalized.

We should have a general scrapers and other scrapers should inherit from it, this will help clean the code.

- [x] would like to work on this one :)

[2017-09-25 20:05] #187 closed

[2017-09-25 20:41] shashank-sharma commented on #184
I guess it is python3 support error. Even I was trying to push my code in Heroku server but it was keep on failing.

[2017-09-25 21:56] #156 closed

[2017-09-25 22:06] #147 closed

[2017-09-26 03:15] cclauss commented on #174
Travis is already doing this but we have it working in __--exit-zero__ mode.  All we have to do is remove __--exit_zero__ in .travis.yml and we have the same level of functionality.

https://travis-ci.org/fossasia/query-server/jobs/279784188#L661

[2017-09-26 04:42] cclauss commented on #174
Now that I have seen hound in action, I like it and recognize that it adds nice UI to the PR submission process but we will need better documentation on how to comply with the perfect PR policy once hound has pointed out a violation on a PR.

[2017-09-26 04:52] cclauss commented on #151
Now that flake8 is set up in Travis, we get __a full listing of all PEP8 style violations__ (the Exxx errors) on each pull request: https://travis-ci.org/fossasia/query-server/jobs/279784188#L662  There is PEP8 cleanup work to do here so I am unsure why there is a checkmark next to __Adhere to PEP 8 styling standards__ above.

[2017-09-26 05:23] gabru-md opened #196 "'desc' is missing from ask.com"
The `description` tag is missing from `ask.com` search results.
An Image of current search results.

![cr](https://user-images.githubusercontent.com/25414121/30843728-01635f6e-a283-11e7-9e15-cf96dbbdd9c5.png)

Modified Behaviour:
Should produce `desc` like all the other search engines.

**Yes** i would like to work on this bug.

[2017-09-26 05:42] cclauss commented on #159
I believe we should _never_ wait before writing tests.  Test early and test often.  We want tests to pass on both Python 2 and Python 3.  Travis is currently running both in parallel driven by .travis.yml but we currently have Python 3 in allow_failures mode.  We should remove allow_failures after #192 and #193 are merged.

[2017-09-26 06:34] cclauss commented on #123
Did #177 close this issue or is there another problem?

[2017-09-26 06:40] cclauss commented on #59
Should this issue be closed?

[2017-09-26 06:52] cclauss opened #198 "Server is down"
Right at the top of this repo, it says:
* Query Server Search Engines https://query-server.herokuapp.com

But that server is down (Application error).  Is that URL correct?

[2017-09-26 07:04] cclauss commented on #198
Duplicate of #190

[2017-09-26 07:04] #198 closed

[2017-09-26 09:16] cclauss commented on #184
HINT: When I push, I get messages like:
* Heroku: app.json is not valid; __scripts: must be of object type__

Perhaps look at https://devcenter.heroku.com/articles/app-json-schema#scripts

[2017-09-26 09:22] cclauss commented on #190
Duplicate of #184 ?

[2017-09-26 12:33] bhaveshAn commented on #184
@S2606 have you worked on this ?

[2017-09-26 12:35] bhaveshAn commented on #190
I would like to work on this issue. May I ?

[2017-09-26 12:51] ms10398 commented on #190
I think there is already @vaibhavsingh97 working on it

[2017-09-26 14:35] bhaveshAn opened #201 "Add support for Yandex"
Adding enhancement of [WebCrawler](http://www.webcrawler.com/), [WolframAlpha](http://www.wolframalpha.com/) and [Yandex](https://www.yandex.com/) to the project.

**Would you like to work on this?**
yes

[2017-09-26 15:21] AnshulMalik commented on #184
Our project uses both python and node, so
- We need a buildpack which supports both of these
- Add a `runtime.txt` file telling which version of python to use

And after that we'll see what happens

[2017-09-26 15:31] S2606 commented on #184
@bhaveshAn I am working on it

[2017-09-26 15:42] pratik0509 commented on #123
Hi @cclauss can you please elaborate on the point? I am unable to comprehend your statement.

[2017-09-26 15:45] cclauss commented on #123
I think we can close this issue.

[2017-09-26 15:48] #123 closed

[2017-09-26 15:54] AnshulMalik commented on #201
What exactly are you talking about here?

[2017-09-26 16:08] cclauss commented on #184
runtime.txt can be 2.7.14 as of today... https://github.com/heroku/heroku-buildpack-python/pull/475

[2017-09-26 16:32] bhaveshAn commented on #201
@AnshulMalik I would like to add `WebCrawler`, `WolframAlpha` and `Yandex` related interfaces in this repo same as it already has Google, Bing etc
Got it ?

[2017-09-26 20:44] mariobehling commented on #201
Yandex sounds good. Webcrawler is a meta search itself and probably not so relevant therefore.

I am not sure about Wolfram Alpha. It is not a traditional search engine.

[2017-09-26 20:45] mariobehling commented on #201
What about Chinese search engines? Baidu?

[2017-09-26 20:53] shashank-sharma opened #202 "Add support for Baidu search engine"
To implement Baidu web crawler.
Yes, I would like to work on this.

[2017-09-26 20:54] shashank-sharma commented on #201
@mariobehling I have opened Baidu issue and I would like to work on it #202

[2017-09-27 08:12] bhaveshAn commented on #201
@mariobehling Thanks. I will work on Yandex. Btw, if you have any suggestions other than Baidu, I will love to hear that too !

[2017-09-28 08:43] #191 closed

[2017-09-28 08:43] #184 closed

[2017-09-28 08:57] cclauss commented on #184
With #204 merged, can someone please restart the server?

[2017-09-28 09:19] cclauss commented on #125
Closed with #197

[2017-09-28 09:19] #125 closed

[2017-09-28 09:34] cclauss commented on #151
Can we either close this issue or rename this issue to "__All Python files should be PEP8 and Flake8 compliant__"?  README.md says that we must support both Python 2 and Python 3 so the current title of this issue is misleading.  PEP8 work is being done in #152, #172, #200 but perhaps the best approach would be for [someone](https://github.com/fossasia/query-server/pull/197#issuecomment-332098383)

[2017-09-28 09:44] vaibhavsingh97 commented on #151
@cclauss I think I should do it instead of asking from someone to do it 😄. Will send PR 😄

[2017-09-28 09:48] cclauss commented on #151
Awesome!!

[2017-09-28 09:54] vaibhavsingh97 opened #209 "Add Support for Internet Archive"
#### Description
archive.org is the internet archive search engine. It searches:
- metadata
- Search full text of books
- Search TV captions
- Search archived web sites

Screenshot:
![image](https://user-images.githubusercontent.com/8705386/30960529-ccce3330-a432-11e7-9390-aa95fe56b43e.png)

Yes, I would like to work on it.

[2017-09-28 09:58] vaibhavsingh97 opened #210 "Addition of CSV support"
- [x] Feature Request

#### Current Behaviour
As of now, result supports only JSON, XML.

#### Expected Behaviour
Result should support JSN, XML, CSV

**Yes, I would like to work on this issue**

[2017-09-28 10:03] vaibhavsingh97 commented on #209
@AnshulMalik @gabru-md This issue needs discussion as to integrate in query-server we should give option these fields i mentioned. So what i am thinking is to have a pop up and ask the user choose between these option.
Also, as an API we could add one more field optional which would let user to ovveride the options else we will use `archived website` as default behaviour

[2017-09-28 11:19] #151 closed

[2017-09-28 11:30] AnshulMalik commented on #59
This can be closed @mariobehling

[2017-09-28 11:33] AnshulMalik commented on #140
Closing considering #197

[2017-09-28 11:33] #140 closed

[2017-09-28 11:40] AnshulMalik commented on #136
@prabhavgupta wants to say, if we want to give a cumulative result, mixing all search engine's results

That's a feature we can add.

[2017-09-28 12:31] shashank-sharma commented on #136
@AnshulMalik According to me this will be a really great feature as it will be much more useful for so many people.

[2017-09-28 14:51] bhaveshAn opened #215 "Internal server error [Status code: 500]"
After going through the installation steps (including mongodb-org ). I find

![screenshot from 2017-09-28 19-58-34](https://user-images.githubusercontent.com/22936570/30973021-9dffcec8-a45b-11e7-9e37-e1579108c884.png)

The logs are:

* Restarting with stat
* Debugger is active!
* Debugger PIN: 275-635-326
127.0.0.1 - - [28/Sep/2017 20:12:27] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Sep/2017 20:12:

[2017-09-28 15:21] AnshulMalik commented on #215
Hey @bhaveshAn, Sorry again, but https://github.com/fossasia/query-server/pull/214 resolves the issue :P

[2017-09-28 15:27] AnshulMalik commented on #159
@vaibhavsingh97 @Pk13055 Are you working on this ?

[2017-09-28 15:29] Pk13055 commented on #159
Yes

On Sep 28, 2017 8:57 PM, "Anshul" <notifications@github.com> wrote:

[2017-09-28 15:36] vaibhavsingh97 commented on #159
@Pk13055 is working, so i am waiting for him. Will add my input after his PR will merge

[2017-09-28 16:01] #174 closed

[2017-09-28 16:17] AnshulMalik commented on #161
I don't see much benefit of migrating, since we don't need those features yet, query-server is to provide API, and frontend is decent. Bootstrap3 can suite our needs and I think migrating is an overhead.

[2017-09-28 16:40] vaibhavsingh97 commented on #161
@AnshulMalik Closing since i also see no necessity now 👍
@Pk13055 Thanks for your input though

[2017-09-28 16:40] #161 closed

[2017-09-28 16:55] cclauss commented on #159
Like I was saying...  Test early and test often.
* https://travis-ci.org/fossasia/query-server/jobs/280955327#L573

[2017-09-28 17:17] AnshulMalik commented on #159
@cclauss #214 should fix that, my bad

[2017-10-01 09:33] #175 closed

[2017-10-01 10:36] #215 closed

[2017-10-01 11:26] shashank-sharma opened #218 "Yahoo page giving 500 error"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Clicking on yahoo button giving 500 error
**Expected behavior:**

It should give proper result
**Steps to reproduce:**

[2017-10-01 11:29] shashank-sharma commented on #218
I am working on it

[2017-10-01 14:07] S2606 opened #220 "Heroku Deployment Crashed"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

This happened when I asked for a JSON query to google.

![image](https://user-images.githubusercontent.com/18497513/31055402-f2353a92-a6df-11e7-9e8e-cfa79e74367d.png)

I would like to work on this

[2017-10-01 14:07] S2606 commented on #220
@AnshulMalik @gabru-md ..

[2017-10-01 14:39] niranjan94 commented on #220
<img width="1680" alt="screen shot 2017-10-01 at 8 08 57 pm" src="https://user-images.githubusercontent.com/2404372/31055694-61d87df6-a6e4-11e7-83a8-dc3d37db40cd.png">

Unable to reproduce for now. Closing this until either of the following happens:
- More info and proper steps to reproduce if this is an edge-case
- The bug resurfaces randomly

[2017-10-01 14:39] #220 closed

[2017-10-01 15:07] AnshulMalik commented on #220
It was resolved in https://github.com/fossasia/query-server/pull/214

[2017-10-01 20:48] sinAshish opened #221 "No query with duckduckgo"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
No query results are produced with duckduckgo
**Expected behavior:**
It should produce results as  in case of Google and Bing.

**Steps to reproduce:**

[2017-10-02 11:10] #218 closed

[2017-10-02 11:46] shashank-sharma opened #222 "No output for XML format in all search engine"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Due to improper encoding in server.py it is not able to encode it.
**Expected behavior:**

It should give proper output in xml format
**Steps to reproduce:**
Enter fossasia in input and use xml format and search, you will not be able to see any output and in case of api it is giving 500 Error.

Locally it is gi

[2017-10-02 12:06] sayak119 commented on #221
![screenshot from 2017-10-02 17-35-15](https://user-images.githubusercontent.com/28414920/31076528-153281d2-a76a-11e7-8110-8f8bf27a1615.png)

Duckduckgo is showing results

[2017-10-03 23:23] cclauss opened #226 "Scrapers should implement absolute_import"
The current scrapers will not work on Python 3 because they do relative importing.  The problem is shown here: https://travis-ci.org/fossasia/query-server/jobs/282968780#L558

The solution is to:
1. from __future__ import absolute_import
2. from .generalized import Scraper  # add the dot (.)
(See https://github.com/fossasia/query-server/pull/225/files#diff-ae74241666286cc647595b08d2de8ac2 for an e

[2017-10-04 09:03] bhaveshAn opened #228 "Multiple app.debug in app/server.py"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

[2017-10-04 09:15] #222 closed

[2017-10-04 13:44] bhaveshAn commented on #228
Closing in relation to #224

[2017-10-04 13:44] #228 closed

[2017-10-04 17:56] shashank-sharma commented on #221
This should be closed as everything is working fine.

[2017-10-05 22:19] bhaveshAn opened #232 "Method could be a function"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

***Method could be a function*** error comes in codacy

**Expected behavior:**

No more `Method could be a function` errors

**Steps to reproduce:**

*Yes, I would like to work on this issue*

[2017-10-05 22:38] cclauss opened #233 "Should we use the adapter pattern and dynaimic loading of scrapers?"
There are several recent PRs to add new scrapers to the system and each one needs to touch ~ four different files.  Will there be a lot more scrapers to add or are we almost done?  Would it be better to shift to using the _adapter pattern_ for adding new scrapers?  This would:
1. Make adding new scrapers easier by focusing the changes into fewer files
2. Make debugging and testing of scrapers easi

[2017-10-06 01:27] S2606 commented on #183
@bhaveshAn  At least you could have asked me before working???

[2017-10-06 03:44] bhaveshAn commented on #183
@S2606 since, this issue haven't recieved any conversation from more than 12 days, so thought you might have dropped the idea.
BTW, apologies, could you please work on [GigaBlast](http://www.gigablast.com/) it''s the same type of search engine.

[2017-10-06 06:04] S2606 opened #234 "Adding Gigablast suppport"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Would you like to work on this?
Yes**

[2017-10-06 06:53] vaibhavsingh97 commented on #52
@Pk13055 Update your status please

[2017-10-06 16:56] #201 closed

[2017-10-07 15:06] sinAshish commented on #221
The results were not showing on my system.

[2017-10-07 15:06] #221 closed

[2017-10-07 16:31] bhaveshAn opened #236 "Add support for Exalead"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently no support for [Lycos](http://search.lycos.com/) , [Qwant](https://www.qwant.com/web), [Exalead](http://www.exalead.com/search/web), [Teoma](https://www.teoma.com/web), [Ecosia](https://www.ecosia.org/)

**Expected behavior:**

Adding support for [Lycos](http://search.lycos.com/), [Qwant](https://www.

[2017-10-07 20:14] bhaveshAn opened #237 "Add .editorconfig, .dockerignore and docs of installation and deployments"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

1. **`.editorconfig`** will provide:

    `charset and indent_size = 4`

2. **`.dockerignore`** will ignore `.gitignore` files while deployment

3. ***Docs of installation and deployments*** provides:

    Local Installation inside `/docs/installation/local.md`
    Deployment on Docker i

[2017-10-07 23:45] bhaveshAn opened #239 "Yahoo Urls Error"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

![yahoo_error](https://user-images.githubusercontent.com/22936570/31312665-e365c81e-abb8-11e7-8bf1-d46021d719ed.png)

**Expected behavior:**

![yahoo_fix](https://user-images.githubusercontent.com/22936570/31312678-55549482-abb9-11e7-9e66-716fe4629308.png)

**Steps to reproduce:**

**Would you like to work on t

[2017-10-09 09:41] bhaveshAn commented on #196
@gabru-md please let me know are you working on this. If not, I want to submit the PR. Thanks !!

[2017-10-09 10:06] gabru-md commented on #196
Sorry I was ill and could not do it. Will do it asap and send a PR.
Sorry for any inconvenience

[2017-10-09 11:54] vaibhavsingh97 commented on #234
@S2606 Are you working on this?

[2017-10-09 12:01] S2606 commented on #234
@vaibhavsingh97 Yes i am working on this

[2017-10-09 13:24] bhaveshAn opened #245 "Increase --max-line-length attribute in .flake8.ini"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently, `--max-line-length = 85` in `.flake8.ini` is responsible for build failing at #240

**Expected behavior:**

Changing `--max-line-length = 85` in `.flake8.ini` to `--max-line-length = 150` in `.flake8.ini` will pass the build and in future too.

**Steps to reproduce:**

**Would you like to work on thi

[2017-10-09 16:54] #239 closed

[2017-10-09 17:34] mariobehling commented on #183
According to the resources I found AOL uses Google as a search provider. Therefore we don't need it as another search engine that is already covered by the original.

[2017-10-09 17:34] #183 closed

[2017-10-10 13:20] bhaveshAn commented on #232
No need now. Closing !!

[2017-10-10 13:20] #232 closed

[2017-10-10 15:57] rupav commented on #210
Hi @vaibhavsingh97 , are you working on this?
If not, can I work on it?

[2017-10-10 16:08] rupav commented on #188
@gabru-md  this issue can be closed :) .

[2017-10-10 16:15] rupav opened #248 "404 error on clicking Maintainer"
https://github.com/fossasia/query-server/blob/232e6c2f08f9e8a1e589c64b28bd5975a6442bf8/app/templates/index.html#L105

[https://query-server.herokuapp.com/nikhilrayaprolu](url)

![2017-10-10 2](https://user-images.githubusercontent.com/20624380/31397518-df40b486-ae03-11e7-8693-d66c9d7b2d25.png)

**Expected Behaviour:**
Maintainer's github profile.

**Would you like to work?**
Yes.

[2017-10-10 16:27] vaibhavsingh97 commented on #210
@rupav yes!

[2017-10-10 16:44] vaibhavsingh97 commented on #248
@rupav Please fix it! It's mine mistake 😅

[2017-10-10 16:46] rupav commented on #248
Hi @vaibhavsingh97 , I tried it on my forked repo, I changed in index.html . But I cant see changes in https://query-server.herokuapp.com.
Can you tell me what can be the reason?
Do I need to change in some other file too, to get the changes reflected on the herokuapp.

[2017-10-10 16:50] vaibhavsingh97 commented on #248
@rupav It's deployed on heroku and your changes will not reflect on that until your PR will merged into master/development.

[2017-10-10 18:45] bhaveshAn opened #250 "Introduce query keyword other then " q ""
**I'm submitting a ...**
- [x] bug report
- [x] feature request

**Current behavior:**

Please see [q as only query-keyword](https://github.com/fossasia/query-server/blob/master/app/scrapers/generalized.py#LC26) , here the q is the only query-keyword for all the search engine but there are other search engines which search results with other query-keyword , one such example is [Baidu](https://www.

[2017-10-12 20:09] #248 closed

[2017-10-12 20:09] #245 closed

[2017-10-13 10:19] bhaveshAn opened #251 "Add Codecov CI"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add Codecov Continuous Integration
**Steps to reproduce:**
**Would you like to work on this issue**
Yes, I would like to work on this.

[2017-10-13 10:41] bhaveshAn opened #252 "Increase --max-line-length in travis.yml"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
Apologies, earlier changed the `--max-line-length` for HoundCI and not for Travis CI. This issue is in regards of same in Travis.

**Current behavior:**

Currently, --max-line-length = 85 in .travis.yml is responsible for build failing at #240
**Expected behavior:**

Changing --max-line-length = 85 to --max-line-length = 150 in .travi

[2017-10-13 16:51] Pk13055 commented on #252
Shouldn't max line length be set to 79 as per PEP standards?

[2017-10-13 18:10] bhaveshAn opened #254 "Add one click deployment for Scalingo/Bluemix"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Add one click deployment button for Scalingo and Bluemix.

**Steps to reproduce:**
**Yes, I would like to work on this issue**

[2017-10-13 22:28] #252 closed

[2017-10-13 22:30] #196 closed

[2017-10-13 22:32] niranjan94 commented on #236
@bhaveshAn remove Ecosia please. It is powered by Bing. Since we already support bing, this isn't really needed.

[2017-10-13 22:34] #254 closed

[2017-10-16 23:25] #237 closed

[2017-10-17 17:03] #250 closed

[2017-10-19 17:48] bhaveshAn commented on #234
@S2606 Are you done with it. Please let me know. Thanks!

[2017-10-19 17:51] bhaveshAn commented on #163
@Kanav-7 Are you done with it. Please let me know. Thanks!

[2017-10-20 06:26] shashank-sharma opened #258 "Ask search engine is crashing the web app"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Type any query let us say fossasia and choose count to 100 or 80+ and then you will notice that the web app will crash and then it will no longer work. It is happening because the result keeps on going and achieve infinite loop.

When ask.com gets to https://www.ask.com/web?q=fossasia&page=7 then at page 7 you

[2017-10-20 06:28] rupav commented on #258
Can I work on this ?

[2017-10-20 06:29] shashank-sharma commented on #258
Sure, go for it :+1:

[2017-10-20 17:52] cclauss commented on #251
Codecov does not like the assert statements that pytest does like.

[2017-10-20 18:02] bhaveshAn commented on #58
@mariobehling Is this issue still active. Please let me know  I am willing to work on it. 😄

[2017-10-23 17:37] #159 closed

[2017-10-24 09:18] bhaveshAn opened #259 "Add support for Looksmart search"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add support for [LookSmart](http://www.looksmart.com/)

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-24 10:21] bhaveshAn opened #260 "Add Dogpile support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add support for [Dogpile](http://www.dogpile.com/)

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-24 10:56] bhaveshAn opened #262 "Add Excite support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add support for [Excite](http://www.excite.com/)

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-24 15:03] vaibhavsingh97 opened #265 "Human readibility is low"
**Actual Behaviour:**
Code is not human readable
https://github.com/fossasia/query-server/blob/e095c978b0db02973d9f47bb74fc28dcaf31992b/app/server.py#L91-L95

**Expected Behaviour:**
Should be human readable

**Open to claim**

[2017-10-24 21:15] cclauss commented on #265
autopep8 or yapf will do the right thing...

[2017-10-24 21:25] #202 closed

[2017-10-24 21:31] mariobehling commented on #260
Dogpile is a meta search engine itself and provides results from engines we already cover.

Therefore closing it.

[2017-10-24 21:31] #260 closed

[2017-10-24 22:36] cclauss opened #270 "Bluemix deploy failure"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

Click "Deploy to Bluemix" button...  See #255
[code]

**Expected behavior:**

Running app

**Steps to reproduce:**
Click "Deploy to Bluemix" button...

[2017-10-24 22:55] cclauss opened #271 "Yandex search uses Yahoo, not Yandex"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

The Yandex button runs a Yahoo search.

**Expected behavior:**

The Yandex button runs a Yandex search.

**Steps to reproduce:**
Enter a search term and click the Yandex button.

[2017-10-25 11:12] shashank-sharma opened #272 "Incorrect Baidu support"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

https://query-server.herokuapp.com/api/v1/search/ubaidu?query=fossasia&format=json&num=100
This url is giving application error
**Expected behavior:**
It should give result properly

[2017-10-25 11:14] shashank-sharma commented on #272
@bhaveshAn Hey
Again without review your PR was accepted and there are few errors.
1. Again why chinese words are not viewing ? Have you done any check to make sure only english words are accepted.
2. Same results are generating for:
https://www.baidu.com/s?wd=fossasia&pn=11
https://www.baidu.com/s?wd=fossasia&pn=12
https://www.baidu.com/s?wd=fossasia&pn=13
https://www.baidu.com/s?wd=fossasia&pn=1

[2017-10-25 11:20] shashank-sharma opened #273 "Improper search engine names used"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

API url are mostly used to make values human readable like if we want to search google search engine then we can type google but right now baidu is represented as ubaidu which is not good.

https://query-server.herokuapp.com/api/v1/search/ubaidu?query=fossasia&format=json&num=10
**Expected behavior:**

It shoul

[2017-10-25 11:23] shashank-sharma commented on #271
Seems like that PR was not reviewed correctly.
![screenshot from 2017-10-25 16-52-10](https://user-images.githubusercontent.com/9320644/31996146-eef4636c-b9a4-11e7-9f23-8a8b653ea509.png)

[2017-10-25 11:54] bhaveshAn commented on #273
I think you are contradicting your self, now.
`ubaidu` is used instead of `baidu` . This is because all the search engines are used with unique key in `app/scrapers/__init__.py`.
If baidu was used than [b] was the key  which is already for `bing`
So, now,
1. g --> google
2. a --> ask
3. d --> duckduckgo
4. b --> bing
5. y --> yahoo
6. u --> baidu as ubaidu

So, it is not a issue. Hence, should be

[2017-10-25 12:20] cclauss commented on #273
Why use only the first letter instead of the full name?

[2017-10-25 12:30] bhaveshAn commented on #272
https://www.baidu.com/s?wd=fossasia&pn=11
https://www.baidu.com/s?wd=fossasia&pn=12
https://www.baidu.com/s?wd=fossasia&pn=13
https://www.baidu.com/s?wd=fossasia&pn=14

This is all because for baidu `pn` is not page index like `start` for google.
`pn` is the index for the resultset. Just like `pn=1` for 1st result and so on. Please, If you wanna check these then do not check like :arrow_up: . Chec

[2017-10-25 14:29] shashank-sharma commented on #272
@bhaveshAn
Why issue should be closed ?
1. Those links are generating from app only. If you will type num to 50 or 100 then you will notice pn will be 11, 12, 13, 14 due to which duplicates are generating. You need to do something for this if possible. See in image
![screenshot from 2017-10-25 19-58-00](https://user-images.githubusercontent.com/9320644/32004232-e726af7c-b9be-11e7-93eb-80fcb136803a

[2017-10-25 14:32] shashank-sharma commented on #273
Why can't you change the method ? I am talking about the use of api. It should be easy to use. ubaidu doesn't make any sense that's why we need to do something about this so that user can type baidu instead of ubaidu.

[2017-10-25 14:54] cclauss commented on #273
@shashank-sharma I agree with you.  #266 changes the Python code so that the Python code uses the whole name and not just the initial letter and that we convert all instances of ubaidu into baidu.

[2017-10-26 18:05] shashank-sharma opened #279 "Ask search engine generating error for some special case"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

type 'a b c d e f' and then you will notice that it will give 500 error

Error is generating because as you can see there are 4 videos in one div and there are no descriptions.
This can be possibly solve by removing description tag from results and show only url and title.

![screenshot from 2017-10-26 23-33-54

[2017-10-27 04:21] Dragneel7 commented on #279
@shashank-sharma Hello, I am new to open source and would like to contribute by resolving the above mentioned issue.Can I take up this issue?

[2017-10-27 04:45] shashank-sharma commented on #279
Hi @Dragneel7
Yes, sure you can work on this issue. If you face any problem let me know.

[2017-10-27 06:15] gabru-md commented on #279
@shashank-sharma
We should not remove description tag. But could definitely do some error handling to avoid this issue?

[2017-10-27 06:34] gabru-md commented on #271
Will like to work on this.

[2017-10-27 08:51] shashank-sharma commented on #279
@gabru-md I am saying this because there are many search engines which are not viewing description. Either make one standard rule that every search engine must have description or remove from all of them

[2017-10-27 08:59] Dragneel7 commented on #279
@shashank-sharma  Thank you , I will work my best and contact you if I face any issues.

[2017-10-27 09:24] cclauss opened #281 "The hound is asleep -- Please wake him up"
Usually you should __let sleeping dogs lie__ but this issue is bugging me...

**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

I submit a PR that contains an unused import.  According to #174 and #206 Hound should catch my mistake and allow the error be to fixed before the PR will be accepted.

**Expected behavior:**

Hound does not seem to catch any errors a

[2017-10-27 16:02] bhaveshAn commented on #226
@cclauss Since we are using `python` command at https://github.com/fossasia/query-server/blob/master/Procfile so I don't think we have to enforcing the application to work on `python3`
Thoughts ??

[2017-10-27 16:21] cclauss commented on #226
On your local machine:
* make a new directory
* cd into that directory
* type: `python3 -m venv . ; . bin/activate`  # you have activated a Python 3 virtualenv
* type `python -V`  # Python 3.6.3

All of these Cloud Foundry providers like Heroku, Bluemix put your stuff into a virtualenv so runtime.txt should determine if "Python" is Python 2 or Python 3.  https://github.com/heroku/heroku-buildpack-

[2017-10-27 18:08] ParthS007 commented on #281
I am working on it

[2017-10-27 18:16] bhaveshAn commented on #190
Please close this one !

[2017-10-27 20:17] bhaveshAn opened #286 "Add Quora support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-27 21:04] starlord1311 commented on #251
i am new to this. what should i do for this issue?

[2017-10-27 21:14] bhaveshAn commented on #251
@starlord1311 Just do some research on Codecov. Check some repos on github which uses Codecov.
Trust me, its pretty easy :smiley:

[2017-10-28 00:53] #190 closed

[2017-10-28 10:32] gabru-md commented on #188
Closing this issue

[2017-10-28 10:32] #188 closed

[2017-10-28 12:13] #272 closed

[2017-10-28 12:14] #236 closed

[2017-10-28 19:32] #286 closed

[2017-10-28 20:44] bhaveshAn opened #290 "Add Youtube support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-29 12:49] #226 closed

[2017-10-29 19:00] bhaveshAn opened #293 "Add Parsijoo support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add [Parsijoo](http://parsijoo.ir/) support

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-29 20:16] bhaveshAn opened #295 "Add Mojeek support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add support for a UK based search engine [Mojeek](https://www.mojeek.co.uk/)
**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-29 23:32] #258 closed

[2017-10-30 04:38] bhaveshAn commented on #251
@mariobehling Please close this in regard to #288 . Thanks !!

[2017-10-30 04:39] #251 closed

[2017-10-30 08:28] Dragneel7 commented on #279
@shashank-sharma "Ask" is giving the same problem for almost every query I tried.
Can you give me example query where it works properly.
![deepinscreenshot_20171030135353](https://user-images.githubusercontent.com/24193342/32161092-5931bfe4-bd7a-11e7-867f-cd764bfdb7a0.png)

[2017-10-30 08:35] Dragneel7 commented on #279
@shashank-sharma removing the desc from "ask.py" worked. So should we remove it or go for try-catch method.
![deepinscreenshot_20171030140307](https://user-images.githubusercontent.com/24193342/32161387-5b88a14e-bd7b-11e7-87a3-abd345eef889.png)

[2017-10-30 09:17] starlord1311 commented on #52
can i take up this issue?

[2017-10-30 09:18] starlord1311 commented on #52
i am new to open source

[2017-10-30 09:24] vaibhavsingh97 commented on #52
@starlord1311 yes you can take this issue as @Pk13055 haven't updated his status.

[2017-10-30 17:43] starlord1311 commented on #52
can you tell what i am supposed to do as i am not getting it @vaibhavsingh97

[2017-10-31 16:50] bhaveshAn opened #298 "Add time analysis of each engine for the results retrieved"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

![time analysis](https://user-images.githubusercontent.com/22936570/32236876-53b97ebc-be5b-11e7-9821-a04b256e6618.png)
**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-10-31 17:59] ParthS007 commented on #126
Is this issue still open ?

[2017-10-31 18:16] bhaveshAn commented on #126
Node.js
    Pip
    Flask
    BeautifulSoup4

From these we all mean is the core modules.

coveralls>=1.1  # could be pip installed in .travis.yml but not shipped in production

I agree.

pytest-cov>=2.4.0  # no pytest means no pytest-cov?

Now it has...

[2017-11-01 15:12] #281 closed

[2017-11-02 02:12] cclauss commented on #290
Duplicate of #139 ?

[2017-11-02 02:30] cclauss opened #301 "Add search engine name to the printed parsed output"
@starlord1311 Would you be interested to work on this one?

**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

Current printed output is usually __parsed[{“title”: ...__
**Expected behavior:**

Desired printed output could be __Google parsed: [{“title”: ...__

**Steps to reproduce:**
* Run a Quora search to see the right kind of output.
* Run a Google search to

[2017-11-02 03:04] cclauss opened #302 "Add pytests that simulate external API calls"
**I'm submitting a ...**
- [ ] bug report
- [ ] feature request
- [X] test request

**Current behavior:**

External requests like https://query-server.herokuapp.com/api/v1/search/gigablast are not currently tested.
**Expected behavior:**

Add tests to the Travis CI process that make external API calls to both valid and invalid scraper names.
**Steps to reproduce:**

[2017-11-02 04:26] starlord1311 commented on #301
yes i would like to take this up.

[2017-11-02 04:27] starlord1311 commented on #301
can you please tell what i have to do?

[2017-11-02 06:38] S2606 opened #304 "Ask.com internal server error"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/18497513/32312963-8365bec0-bfc6-11e7-9544-946692b1f363.png)

**Expected behavior:**
It should work!

[2017-11-02 07:00] shashank-sharma commented on #279
@Dragneel7 Hi, Yea sure make that PR. And then you can wait for reviews and make changes according to that.
Sorry for such late reply

[2017-11-02 07:00] shashank-sharma commented on #304
Similar to #279

[2017-11-02 07:02] #304 closed

[2017-11-02 07:02] niranjan94 commented on #304
Duplicate of #279

[2017-11-02 16:11] #301 closed

[2017-11-02 16:24] #290 closed

[2017-11-02 17:48] ParthS007 opened #305 "Add Medium support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:*

**Steps to reproduce:**

Yes, I would like to work on this issue

[2017-11-02 18:55] bhaveshAn opened #306 "Add ChinaSo support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add [ChinaSo](http://www.chinaso.com/) support

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-11-02 22:15] starlord1311 commented on #305
i would like to work on this issue.

[2017-11-02 22:25] starlord1311 commented on #306
i would like to work on this issue

[2017-11-03 04:24] bhaveshAn commented on #306
Sure @starlord1311
Are you able to run it locally now !!

[2017-11-03 04:53] starlord1311 commented on #306
no i am not able to. can you please tell once how to?

[2017-11-03 05:50] bhaveshAn commented on #306
Please go through https://github.com/fossasia/query-server/blob/master/docs/installation/local.md

[2017-11-03 08:01] ParthS007 commented on #305
@starlord1311 I am working on this , you can take any other open issue .

[2017-11-03 08:11] shashank-sharma opened #308 "Youtube results not equal to num value"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

If we type 'fossasia' and then click on youtube then it is giving more than 10 results for num = 10
**Expected behavior:**
It should give only 10 result

It would be great if any new person would like to take this issue and solve it. :+1:

[2017-11-03 08:41] ParthS007 commented on #308
@shashank-sharma  I have checked the code, youtube and Quora have to give result without count.

[2017-11-03 08:46] shashank-sharma commented on #308
@ParthS007 But this need to be fixed right ? Or we are planning to keep it as it is. Because if we will not change then what's the point of using num=10 or anything like that.

[2017-11-03 08:47] starlord1311 commented on #306
![screenshot 12](https://user-images.githubusercontent.com/32419214/32365869-aeea6d1c-c0a1-11e7-8ffc-becdb20fd941.png)
when i run server.py this is what it is showing. what to do?

[2017-11-03 09:09] starlord1311 commented on #308
i would like to take up this issue

[2017-11-03 09:15] bhaveshAn commented on #306
Completely go through it

[2017-11-03 09:56] shashank-sharma commented on #308
@starlord1311 Sure, go ahead

[2017-11-03 12:31] rupav commented on #279
@Dragneel7 are you working on this or can I do it? @shashank-sharma @Dragneel7  what I think we should keep the description, if there isnt any, just return "''".

[2017-11-03 12:48] bhaveshAn commented on #137
@mariobehling Since we have to add the feature to access results produced by `query-server` by accessing the api `/api/v1/search/<search-engine>?query=query&format=format` in `Yacy-Grid` .
So I think it would be the issue for `Yacy-Grid` and not `Query-Server`. Thoughts Please ?

[2017-11-03 12:53] bhaveshAn commented on #139
@mariobehling Please close this in relation to #291

[2017-11-03 12:56] bhaveshAn commented on #279
Yeah :smile: Doing error handling is the best option !!

[2017-11-03 12:57] bhaveshAn commented on #234
@vaibhavsingh97 @starlord1311 @ParthS007 Anyone of you like to work on this ?

[2017-11-03 13:03] bhaveshAn commented on #59
@mariobehling Please close this in relation to #128

[2017-11-03 13:05] bhaveshAn commented on #136
Is this still an issue?

[2017-11-03 13:06] bhaveshAn commented on #163
Any update @Kanav-7 ??

[2017-11-03 13:08] starlord1311 commented on #234
I would like to work on this

[2017-11-03 13:08] starlord1311 commented on #234
What am I supposed to do?

[2017-11-03 13:11] rupav commented on #234
@starlord1311 you can refer [yandex support](https://github.com/fossasia/query-server/pull/229) for e.g., and other similar closed PRs to take help.

[2017-11-03 13:18] bhaveshAn commented on #308
@shashank-sharma Please go through https://github.com/fossasia/query-server/pull/287#issuecomment-340203644
same is the reason for youtube.
Hence, can be closed.

[2017-11-03 13:58] shashank-sharma commented on #308
@bhaveshAn Don't you think that we should remove those num values because at the end it doesn't make any sense to put that if it is not working for every search engine ? Or make exceptions ?

[2017-11-03 18:10] AnshulMalik commented on #136
I think so @bhaveshAn, what's your opinion?

[2017-11-03 18:33] bhaveshAn commented on #136
Yeah, but what's the point of having common results, how it can be useful.
Though it seems like we are focusing on some common results, just as if we don't trust the individual search engines' results.
Since we trust all these engines, then all the results are true.

Apart from this I think we should focus on some result analysis(ALMOST USED BY ALL SEARCH ENGINES), and making visuals for these ana

[2017-11-03 20:25] ParthS007 opened #312 "Migration of query server to Scrapy"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently, query server uses Beautiful Soup which is slower as compared to scrapy and requires more code to maintain.

**Expected behavior:**
Scrapy will allow faster gathering of data, as well as rapid development and It's benefit include providing outputs in multiple formats (like JSON, XML, CSV) without writi

[2017-11-03 20:27] ParthS007 commented on #312
@mariobehling  @cclauss  @bhaveshAn  Your views ?

[2017-11-03 20:39] ParthS007 opened #313 "Add reddit support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

[2017-11-03 20:39] schedutron commented on #313
I would like to work on this.

[2017-11-03 20:59] bhaveshAn commented on #308
Nope, I don't think removing num values would be solution for this as 8/10 engines are following it. So definitely not a solution to the problem. (Infact, still I don't thing it as a issue)

[2017-11-03 21:02] bhaveshAn commented on #305
Any update?

[2017-11-03 21:13] ParthS007 commented on #305
@bhaveshAn  Almost done with it will give a PR by tomorrow.

[2017-11-04 03:53] AnshulMalik commented on #136
If I were given this API, I would definitely want a aggregated version, since only that would be useful to me(generally speaking). These individual search options may be helpful for for susi but considering other world, the aggregated feature would be really useful.

I didn't get it? Making visuals of analysis?

[2017-11-04 04:26] rupav opened #314 "Display number of Results fetched"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

There is no display of number of results fetched.
**Expected behavior:**

Diplaying the number of results fetched.
**Steps to reproduce:**

[2017-11-04 04:26] rupav commented on #314
@bhaveshAn @cclauss  your views on it?

[2017-11-04 05:59] cclauss commented on #314
Can we please get more detail on the output format that you propose?
* Today: print('Google parsed: ' + str(urls))

Do you propose?:
* print('Google ({}): {}'.format(len(urls), urls))
* print('{} results from Google: {}'.format(len(urls), urls))
* print('{} results from Google:\n{}'.format(len(urls), urls))
* print('{} results from Google:\n{}'.format(len(urls), ‘\n’.join(str(url) for url in urls)

[2017-11-04 06:11] cclauss opened #315 "Should OrderedDicts be used to preserve rank order of search results?"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

Search results are stored in a dict which changes the order of the results.

**Expected behavior:**

Search results are stored in an OrderedDict which preserves the order of the results

**Steps to reproduce:**
Print results before dict and after dict.

[2017-11-04 06:40] cclauss commented on #312
* Is performance currently a problem for us?
* What is the license for this software?
* Would this make us reliant on their scrapinghub service?
* Which Python files and which lines in those files would you expect this to change?
* Do you have a sense for how many lines of code we could eliminate with this change?

[2017-11-04 06:58] rupav commented on #314
@cclauss I am having a problem about the codebase, pinged you on gitter. Please see. Thanks.

[2017-11-04 07:44] ParthS007 commented on #312
- Performance is not the issue but Beautiful Soup cannot scrape all the sites with ease but with scrapy, It will be more convenient.
- Scrapy uses BSD-3-Clause License.
- It can be reliant.
- It changes the code in generalized.py and some other files.
- scrapy will allow more Idiomatic code.

[2017-11-04 07:47] ParthS007 commented on #315
Is order a priority right now?

[2017-11-04 07:50] schedutron commented on #315
Can we store results themselves in dictionaries and append the dictionaries to a list so that the original order is maintained?

[2017-11-04 08:48] cclauss commented on #315
Closed as a non-issue.  @schedutron got it right.

[2017-11-04 08:48] #315 closed

[2017-11-04 08:50] shashank-sharma commented on #312
I agree, scrapy is much better than BeautifulSoup and it will be easy to manage code with it. Off course we are talking about spider scraping those sites.

[2017-11-04 08:52] cclauss commented on #312
Is there a cost or downside to being reliant on their scrapinghub service?

[2017-11-04 08:53] cclauss commented on #314
Is you issue that when you run locally, you see nothing printed?

[2017-11-04 08:54] shashank-sharma commented on #312
ScrapingHub service is also great, it gives you 1 free dyno but then after that you need to pay for it. It's not like heroku. You just deploy your spider and then it will run for 24 hours for free user and 7 days for paid one.

[2017-11-04 12:50] shaddygarg commented on #302
Hello, I would like to work upon this. Can I take up this issue?

[2017-11-04 14:02] cclauss commented on #302
Go for it!

[2017-11-04 21:28] shaddygarg commented on #302
@cclauss I was thinking of using requests to simulate the API calls. Should I proceed with it?

[2017-11-04 21:29] cclauss commented on #302
Yes.

[2017-11-04 21:37] shaddygarg commented on #302
Please have a look at the PR!

[2017-11-05 14:47] AnshulMalik commented on #312
I don't feel any need of using scrapy here.

Beautiful soup is fine, and performance isn't an issue here, did you run benchmarks @ParthS007 ?

[2017-11-05 15:19] cclauss commented on #312
I agree.  I use Bluemix so free Heroku dynos are of little interest more importantly, I worry about being tied to the ScrapingHub service.

[2017-11-07 04:30] rupav commented on #314
@cclauss I opened this issue for displaying number of results on the [website](https://query-server.herokuapp.com/) itself.

[2017-11-07 05:06] cclauss commented on #314
👌 Now I understand.

[2017-11-07 13:29] mariobehling commented on #305
Medium is not a search engine. It looks to me that the major search engines are covered and we dont need to add more. Therefore closing it.

[2017-11-07 13:29] #305 closed

[2017-11-07 18:01] #293 closed

[2017-11-08 06:20] ParthS007 commented on #313
closing since reddit is also not a search engine

[2017-11-08 06:20] #313 closed

[2017-11-08 16:58] srisankethu commented on #259
Yes, I would like to work on this issue

[2017-11-08 17:00] srisankethu commented on #262
Yes, I would like to work on this issue

[2017-11-08 17:02] mariobehling commented on #58
Right now, we only get general search results from search engines. Next, the goal is to get search results that are limited to e.g. video results - just like in the Google video tab.

[2017-11-08 17:07] #59 closed

[2017-11-08 17:07] #139 closed

[2017-11-08 17:26] vaibhavsingh97 opened #320 "No option to search videos"
With reference to #58

**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no option to search videos in Search engines

**Expected behavior:**
There should be option to search videos

**Open To claim**

[2017-11-08 17:29] vaibhavsingh97 opened #321 "No option to search images"
With reference to #58

**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no option to search images in Search engines

**Expected behavior:**
There should be option to search images and videos

[2017-11-08 17:52] ParthS007 commented on #321
I want to work on this.

[2017-11-08 18:46] bhaveshAn opened #322 "Display results like a search engine"
**I'm submitting a ...**
- [x] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

![enhance1](https://user-images.githubusercontent.com/22936570/32567995-ee4aa410-c4b4-11e7-85f1-b3edff26ab28.png)

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-11-08 19:37] vaibhavsingh97 commented on #322
@bhaveshAn what i can understand is right now we get this result is that we also get meta links

[2017-11-08 19:58] bhaveshAn commented on #322
I mean to add the title and url returned by the api and make change to frontened to respond each result set having different div inside which we can have title and that title has href of the url of the result set

[2017-11-10 16:44] bhaveshAn opened #325 "Scrapper no longer based on searss"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

https://github.com/fossasia/query-server/blob/master/README.md

**Expected behavior:**

**Steps to reproduce:**

[2017-11-10 17:42] #325 closed

[2017-11-11 00:17] cclauss opened #328 "app not executing on Python 3"
Reopens #123 which was not fixed.

**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**

app/server.py does not run on Python 3

**Expected behavior:**

app/server.py runs on Python 3

**Steps to reproduce:**

[2017-11-11 07:39] sinAshish opened #329 "Add Facebook share button."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

There is only option now for sharing via twitter now.
**Expected behavior:**

Facebook share button along with the twitter share button.
**Steps to reproduce:**

[2017-11-11 07:40] sinAshish commented on #329
I would like to work on this issue.

[2017-11-11 07:45] sinAshish opened #330 "Change of tweet message."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Right now, the tweet only consists of a couple of hashtags, with no message of any  other kind.
**Expected behavior:**

The tweet should be like _Hey, Check out this new search engine with which you search on multiple platforms all at the same time._  Followed by a couple of hashtags, so that the people who see

[2017-11-11 13:26] jajodiaraghav commented on #163
@Kanav-7 Are you working on this or can I take it?

[2017-11-12 21:41] cclauss opened #332 "Configure Codacy to stop flagging valid "assert" statements"
**I'm submitting a ...**
- [X] bug report
- [X] feature request

**Current behavior:**
Put a valid __assert__ statement in Python code and Codacy will flag it:
* [Use of assert detected. The enclosed code will be removed when compiling to optimized byte code.](https://www.codacy.com/app/fossasia/query-server/pullRequest?prid=1029185)
Pytest recommends the use of asset statements.  The fact that th

[2017-11-14 04:11] jajodiaraghav commented on #163
Claiming this since not update was made 🚀

[2017-11-14 23:53] ParthS007 commented on #329
claiming this because of inactivity

[2017-11-15 01:04] ParthS007 commented on #321
working on it

[2017-11-15 07:35] sinAshish commented on #329
I wanted to work on it, but couldn't because of my exams.

[2017-11-16 15:54] soumya-ranjan7 commented on #330
Hey. I would like to work on this.

[2017-11-16 19:58] sinAshish commented on #330
I have already submitted a PR.

[2017-11-17 09:52] #329 closed

[2017-11-17 09:55] #295 closed

[2017-11-17 09:56] #302 closed

[2017-11-17 18:18] jajodiaraghav opened #334 "Add support for python virtualenv"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Add support to run query-server through virtualenv (by adding the instructions in docs and venv in gitignore)

I would like to work on it

[2017-11-18 07:46] AnshulMalik commented on #322
We are not displaying the results anywhere, we are just returning json or xml response

[2017-11-18 21:07] #279 closed

[2017-11-19 18:14] S2606 opened #338 "Add Social Mention Support"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

http://socialmention.com/#

Would you like to work on this?
**Yes**

[2017-11-19 18:14] S2606 commented on #338
@bhaveshAn What do you think?

[2017-11-19 18:20] vaibhavsingh97 commented on #338
@S2606 Why we need this? can you please explain

[2017-11-20 15:58] shaddygarg commented on #328
I would like to work on this one. Is anyone presently working on it?

[2017-11-20 16:04] cclauss commented on #328
https://github.com/fossasia/query-server/pull/297 is essential to this one.  After that look at the tests that are xfail in test in: https://github.com/fossasia/query-server/pull/297/files#diff-eff0198ff37b58d7351b62ca25b3f095 to get a sense of other issues we face.

[2017-11-20 21:24] cclauss commented on #328
@shaddygarg Can you try to make the #297changes and then repeat this test https://github.com/fossasia/query-server/pull/297#pullrequestreview-73271423 ?

[2017-11-21 07:55] shaddygarg commented on #328
Sure, I will open a WIP pull request!!

[2017-11-21 17:45] jajodiaraghav commented on #259
Claiming this since no update has been made for past 2 weeks 🚀

[2017-11-22 03:20] bhaveshAn commented on #259
Please don't work on this issue. Looksmart is a meta search engine. Hence closing it.

[2017-11-22 03:20] #259 closed

[2017-11-22 18:24] #334 closed

[2017-11-22 19:19] bhaveshAn commented on #322
What ever may be the response `json` or `xml` . we can add a section where we display all the  responses (json / xml) as web response just like I uploaded a screenshot above.

It is a frontend thing not concerning backend.

[2017-11-23 01:55] AnshulMalik commented on #322
I think we should stick to json response, it's a micro service, just provides data. The clients like susi or whatever are supposed to show the results in this manner.

[2017-11-24 10:20] cclauss commented on #281
@ParthS007 and @niranjan94 How do I get to see Hound in action?  I never get any Hound notifications on my pull requests.  fossasia-bot seems to be very chatty but I never hear from Hound.

[2017-11-24 10:33] cclauss commented on #271
@gabru-md Have you made any progress on this one?  When I enable this scraper (by moving Yahoo out of the way) it does not seem to return results.  Should we just drop support for Yandex?

[2017-11-24 10:36] gabru-md commented on #271
Sorry @cclauss i was a bit busy last 30 days due to my exams. I'll work on this and notify you in a day.

[2017-11-24 11:01] cclauss commented on #322
This might be a microservice but a minimal UI the help us debug the inputs and outputs is valuable.

There are a bunch of difference between [query-server running on heroku]() and query-server running locally.  Most absent are the results that appear below the query on heroku but not when run locally.  Also the JSON and XML buttons have no text when run locally and the Max dropdown is poorly place

[2017-11-24 11:29] vaibhavsingh97 commented on #322
@cclauss it's look like you haven't run `bower install` command. This will install necessary file that will fix the issue you are facing

[2017-11-24 11:56] cclauss commented on #322
Perfect.  Thanks!

[2017-11-24 16:51] cclauss opened #345 "Parsijoo is not being tested by Travis CI"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Parsijoo is not being tested by Travis CI https://github.com/fossasia/query-server/blob/master/app/test_server.py#L40-L41

**Expected behavior:**

Parsijoo is being tested by Travis CI

**Steps to reproduce:**
Run the tests

[2017-11-24 17:04] cclauss opened #346 "xml.dom.minidom.parseString to parse untrusted XML is vulnerable to attack"
https://www.codacy.com/app/fossasia/query-server/issues says: app/server.py
Using xml.dom.minidom.parseString to parse untrusted XML data is known to be vulnerable to XML attacks. Replace xml.dom.minidom.parseString with its defusedxml equivalent function.

Line 71: xmlfeed = parseString(

**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:*

[2017-11-24 19:40] himanshukumar660 commented on #58
Hello @mariobehling, I would like to work on this issue.

[2017-11-24 21:25] himanshukumar660 opened #347 "Error running in docker"
**I'm submitting a ...**
- [ ] bug report

**Current behavior:**

The docker builds successfully, but when I use run command i get the following error :
[code]

I have tried multiple times installing and uninstalling the urllib3 in order to match the requirements. But i don't know why i am not reaching to the final solution.

Any help will be highly appreciated.

[2017-11-25 03:02] Dragneel7 commented on #332
@cclauss I am in interested in working on this issue.

[2017-11-25 05:23] cclauss commented on #332
That is great news!  It would help a lot if adding new pytests was viewed as a positive contribution by Codacy.  This is what their support folks emailed to me about “removing the assert pattern”::
[code]
https://support.codacy.com/hc/en-us/articles/207279979-Issues#2-remove-pattern

[2017-11-25 15:32] Dragneel7 commented on #332
@cclauss  will it be possible to work without "admin privileges"?

[2017-11-25 15:34] cclauss commented on #332
I tried unsuccessfully to do what that web page suggested.  @mariobehling Do you know who has Codacy admin privileges for this repo?

[2017-11-25 18:20] vaibhavsingh97 commented on #347
If you are using Ubuntu than first remove the package from the package manager:
`$ sudo apt-get remove python-pip`
And then install the latest version by side:
`$  easy_install pip`
`$ sudo pip uninstall requests`
`$ sudo pip install requests`
`$ sudo pip install --upgrade urllib3`
This will solve the issue

[2017-11-26 01:40] himanshukumar660 commented on #347
Still I am facing the same problem. Btw I am using mac OS X. But i tried to follow the above logic. Also when i run `pip show urllib3` i get the following output
`Baracudda:~$ pip show urllib3
Name: urllib3
Version: 1.22
Summary: HTTP library with thread-safe connection pooling, file post, and more.
Home-page: https://urllib3.readthedocs.io/
Author: Andrey Petrov
Author-email: andrey.petrov@shazow

[2017-11-26 05:42] cclauss commented on #347
What happens when you do: __python2.7 -c "import requests"__

[2017-11-26 06:18] gabru-md commented on #322
@bhaveshAn This issue is not clear.
Query-Server is a service  that provides search results to the clients like SUSI. JSON and/or XML is the best possible way to provide such results.
And the primary aim of query-server is not to act as a search engine, but to provide data to clients engines like susi.
Am i right @AnshulMalik ?

[2017-11-26 07:13] AnshulMalik commented on #322
Yep @gabru-md

[2017-11-26 11:04] himanshukumar660 commented on #347
Yeah, it shows the following for python2.7
[code]
But works well with python3
[code]

[2017-11-26 11:44] cclauss commented on #347
pip install —upgrade pip

[2017-11-26 12:12] raju249 opened #348 "Fix installation guide for mongodb installation steps"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Unable to install mongodb as it is mentioned in [guide](https://github.com/fossasia/query-server/blob/master/docs/installation/local.md).

**Expected behavior:**

Installation should succeed. As mentioned [here](https://stackoverflow.com/questions/29287915/mongodb-installation-in-ubuntu-14-04-failed) changes ne

[2017-11-26 14:35] raju249 opened #350 "Support for StackOverFlow"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

There is no support to search for stackoverflow.
**Expected behavior:**

**Steps to reproduce:**

**Would you like to work on this issue ?**
Yes

[2017-11-26 17:31] himanshukumar660 commented on #347
No Luck. I think the problem is due to the fact that in mac os, two
versions of python 2.7.

On Sun, Nov 26, 2017 at 5:14 PM, cclauss <notifications@github.com> wrote:

--
Himanshu Kumar
B. Tech (Penultimate year)
Computer Science and Engineering
Ph. no. - (+91) 9476001014
National Institute of Technology, Durgapur
Mahatma Gandhi Avenue,
Durgapur, West Bengal- 713209
India

[2017-11-27 03:44] raju249 commented on #345
Claiming this!

[2017-11-27 04:01] raju249 commented on #58
Any update on this issue @himanshukumar660 ?

[2017-11-27 04:23] himanshukumar660 commented on #58
@raju249 Yes, I'm working on it. Maybe you could give me sometime as i am having trouble building it. If i am not able to successfully proceed on it within some days, i will inform you.

[2017-11-27 04:30] raju249 commented on #58
Hey no problem. Take you time. 😊
I just wanted that it's not left out ☺️
Go ahead

[2017-11-27 05:17] himanshukumar660 commented on #58
Thanks

‌

On Mon, Nov 27, 2017 at 10:00 AM, Rajendra kadam <notifications@github.com>
wrote:

--
Himanshu Kumar
B. Tech (Penultimate year)
Computer Science and Engineering
Ph. no. - (+91) 9476001014
National Institute of Technology, Durgapur
Mahatma Gandhi Avenue,
Durgapur, West Bengal- 713209
India

[2017-11-27 08:32] bhaveshAn commented on #312
Not really needed

[2017-11-27 09:59] #345 closed

[2017-11-27 10:03] cclauss commented on #312
Can we close?

[2017-11-27 10:03] vaibhavsingh97 commented on #58
@himanshukumar660 Please check #320 and #321. It's already claimed, please ask the claimers if they are working on issue or not. Since I claimed #320 so will send PR shortly. Sorry for the delay

[2017-11-27 10:08] vaibhavsingh97 commented on #312
@cclauss @bhaveshAn Closing

[2017-11-27 10:08] #312 closed

[2017-11-27 11:35] #347 closed

[2017-11-27 14:27] raju249 commented on #262
@bhaveshAn @srisankethu ,
Is anyone of you working on this issue ?

[2017-11-27 17:57] ParthS007 commented on #262
@raju249 I am working on this Issue but I have my exams this week, will make PR as soon my exams are over.

[2017-11-27 18:10] bhaveshAn commented on #262
@raju249 I will send the PR in one day. Or if not possible then you can work on this as you claimed before @ParthS007

[2017-11-28 02:57] raju249 commented on #262
Sure @ParthS007.
Go ahead and good luck with exams 😊.

Np @bhaveshAn please take your time.
Just make sure that both of you are not using your time on same issue. 😉

[2017-11-28 05:29] raju249 commented on #52
@starlord1311 Can you please share any update on this ?

cc @vaibhavsingh97

[2017-11-28 14:15] #348 closed

[2017-11-28 20:20] starlord1311 commented on #338
should i take up this issue?

[2017-11-29 05:27] raju249 opened #353 "Debug is True on deploying app to production to heroku"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:**

Best practice is debug should be False on deploying app to production to heroku.

**Steps to reproduce:**

I am taking this issue to work on.
Maintainers do let me know if `Debug=True` is intended while deploying or not.

[2017-11-29 11:08] cclauss commented on #353
https://pypi.python.org/pypi/pytest-flask Seems to have a nice approach to fixing this so that debug is True in test but False in production.

[2017-11-29 11:16] raju249 commented on #353
Thanks @cclauss
We can also try passing a command line arg while starting the app like for example `heroku` which will start with `debug=False` and if the arg is blank, it means to start a `dev` server.
What you think of this approach ?

[2017-11-29 11:18] AnshulMalik commented on #353
Yep, can do that @raju249. We can also look for some environment variable like `production` or `debug` for the value.

[2017-11-29 11:19] raju249 commented on #353
claiming this :smiley:

[2017-11-29 11:35] cclauss commented on #353
Default mode should be safe mode (debug is False).

[2017-11-29 11:39] raju249 commented on #353
Right @cclauss :+1:

[2017-11-29 19:29] ParthS007 opened #355 "GCI Task: Fix any open issue in query-server"
- **Objective**: Take any one open issue, study about the bug/feature which is in the issue and give a PR that solves that issue.

- **Requirements**: Git,HTML,CSS,Python,BeautifulSoup
- **Expected Outcome**: A pull request fixing that particular issue.
- **Type**: Code,Research
- **Time to Complete the task in days** : 5

[2017-11-29 22:42] starlord1311 commented on #338
@S2606 @vaibhavsingh97  can i take up this issue?

[2017-11-30 03:58] vaibhavsingh97 commented on #209
@starlord1311 Sure You can work, but I have to discuss something so I wil probably keep an eye on issue. After that discussion you can work on this issue

[2017-11-30 07:48] AnshulMalik commented on #209
It will be challenging feature to land, since we need to add those options to respective search engines as well.
This would be very useful feature.

[2017-11-30 08:28] starlord1311 commented on #209
@vaibhavsingh97  so i shouldnt start right?

[2017-11-30 09:32] ParthS007 opened #356 "Search Engine Parameters"
**Current behavior:**
Presently, Query server is extracting data from sources which are not search-engine.

**Expected behavior:**
Query server needs to extract data from only search engines.

**This issue needs discussion as search engine parameters needs to be clear because there are many Pending PRs and open Issues related to this.**

Please give your views @mariobehling @vaibhavsingh97 @cclaus

[2017-11-30 09:36] vaibhavsingh97 commented on #356
@ParthS007 I think the same, as quora is not a search engine. I don't know why we are adding? Also, As @mariobehling said this project is only for the support of [susper](https://github.com/fossasia/susper.com) to provide quality search. Can anybody help with the understanding the need for adding searches from different source like quora, stackoverflow, etc

[2017-11-30 10:40] cclauss commented on #356
My sense is that this project has captured the imagination of a lot of developers.  Those developers each think a bit differently about the purpose of this project and they are delivering new capabilities that increase the value of the query-server beyond its original purpose.

The project maintainers have two choices:
* Reject all pull requests for scrapers that are not directly aligned with the

[2017-11-30 10:54] bhaveshAn commented on #356
Well at the time i added Quora support, I agreed to add Quora due to the fact that there was no statement which said Quora was invalid in this project in the PR https://github.com/fossasia/query-server/pull/143

[2017-12-01 12:09] #353 closed

[2017-12-02 07:39] raju249 commented on #356
Can I make a comment, if allowed ?

Its just that any project should be a product in itself. For example, if we talk about AWS, what Amazon is doing is renting the server space that they themselves used to use for their hosting and computing purposes. But that didn't stop them from adding those services which may or may not be useful for them, but the users found it useful.

So I am thinking that

[2017-12-02 07:42] raju249 commented on #58
Shall we close this since the features needed here are taken care of in #320 and #321 .
@vaibhavsingh97 ?

/cc @mariobehling @bhaveshAn

[2017-12-02 07:46] raju249 commented on #320
@vaibhavsingh97 ,

I can take this up if you are busy with something else :smile:
let me know what you think ?

[2017-12-02 12:50] cclauss commented on #356
Good comments!!  A big difference between Amazon and this project is that they make money while this project does not.  That means that while Amazon can hire employees to add new capabilities and services, the maintainers of this project can not.  They need to deal with the complexities of this project alone with all of their other responsibilities and activities.  Therefore we must be patient and

[2017-12-02 12:54] raju249 commented on #356
Yeah, That's  @cclauss :smile:
Just wanted to share my thoughts.

[2017-12-02 14:16] cclauss commented on #346
Yes please

[2017-12-02 14:43] starlord1311 commented on #314
can i take up this issue? @cclauss @rupav

[2017-12-02 14:51] rupav commented on #314
@starlord1311 yeah you can. Let's confirm if it's needed or not. @bhaveshAn @shashank-sharma please let us know if this feature is needed.

[2017-12-02 15:07] raju249 commented on #321
Hey @ParthS007 ,
Can I take this if its available ?

[2017-12-02 15:07] raju249 commented on #321
I guess you working on https://github.com/fossasia/badgeyay/issues/383

So I am claiming this :smiley:

[2017-12-02 15:09] raju249 commented on #321
PR on its way!! :blush:

[2017-12-02 16:55] raju249 commented on #321
Which all engines should be supported for image search ?
I am thinking of adding Google for first.

[2017-12-02 17:23] ParthS007 commented on #321
@raju249 I have done work on it but not able to complete my work due to my university exams. I will make PR as soon as my exams are over. I think you can understand.

[2017-12-02 17:26] raju249 commented on #321
Hey, I am so sorry. I thought it's been 18 days..so may be you got busy with other stuff.
Anyways, you can continue working on this.
No problem.
I backing off 😊

[2017-12-02 17:34] raju249 commented on #306
Hi @bhaveshAn . Can I claim this for no activity being done ?

[2017-12-02 18:22] starlord1311 commented on #346
Can you tell what I am supposed to do? @cclauss

[2017-12-02 19:01] rupav commented on #346
@starlord1311 you have to use a defusedxml function to do the role similar to that of  xml.dom.minidom.parseString because the latter is not a safe choice , susceptible to different threats (eg. billion laughs attack )

[2017-12-02 19:04] niranjan94 commented on #356
@ParthS007 a search engine need not a website that indexes and searches websites. It could mean any form of data.

Google, Yahoo, Bing, Ask, DuckDuckGo, Yandex, Baidu, Exalead, Parsijoo - Websites
Quora, Stackoverflow - Q & A
YouTube - Video

So, i don't see how this issue is relevant right now.

[2017-12-02 19:05] niranjan94 commented on #306
@raju249 yes. you can claim

[2017-12-02 19:14] ParthS007 commented on #356
@niranjan94 I have raised this issue because I have made PR which is adding support of [Medium](https://medium.com/) but then Mario said that It is not a search engine and need not be added, This Issue was just to clarify what exactly we need to add. Is Medium fine in your opinion?

[2017-12-02 19:18] ParthS007 commented on #356
@niranjan94  Link to Issue - [Add Medium Support](https://github.com/fossasia/query-server/issues/305) .

[2017-12-02 19:23] cclauss commented on #346
Agreed...
1. add defusedxml to requirements.txt
2. use the parseString() in https://pypi.python.org/pypi/defusedxml#defusedxml-minidom instead of the standard library version.

[2017-12-02 22:29] bhaveshAn opened #357 "Add Mojeek in README"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently Mojeek is not written in

**Expected behavior:**

**Steps to reproduce:**

[2017-12-02 23:44] bhaveshAn opened #361 "Add QihooSo support"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

Add support for [Qihoo So](https://www.so.com/?src=www&fr=none) support

**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2017-12-03 03:39] raju249 commented on #306
Oh man, it has a PR :sweat_smile:

[2017-12-03 04:02] raju249 commented on #306
@bhaveshAn
My sincere and humble request to you, please let the developer work who claims any particular issue.
Everyone here is present to learn and build. So please others also work. :+1:

/cc @niranjan94 @mariobehling

[2017-12-03 04:31] bhaveshAn commented on #306
@raju249
From a month I wasn't able to come to any conclusion that this issue could be solved by @starlord1311 or not (as @starlord1311 was even not able to run the project locally and made untested PRs). (MANY A TIMES I TESTED THE PRs locally too)
Also, earlier I had no idea that you claimed the issue just 11 hours as I haven't seen email at that time.
So suddenly worked on issues which were near

[2017-12-03 04:34] raju249 commented on #306
Thanks for clarification @bhaveshAn
Just wanted that others don't get an impression that they can work in silent without claiming this.

[2017-12-03 06:03] raju249 commented on #308
@bhaveshAn
Should this issue be closed, I think its resolved after above explanation.
What you think ?

[2017-12-05 03:30] raju249 commented on #330
Claiming this due to inactivity!

[2017-12-05 03:52] raju249 commented on #273
Do we really need this ?
@bhaveshAn
If yes, then I would like to claim this. But this will also mean to update susi and other users about this change.
What you think ?

[2017-12-05 04:07] sinAshish commented on #330
I have already submitted a pr

[2017-12-05 04:12] raju249 commented on #330
It was not updated with new commits to `master` branch, and also since it was 18 days ago, I thought you might not be watching it, so just made a PR :smile:
Anyways, let the maintainers decide.

[2017-12-05 06:42] cclauss commented on #273
@raju249 Our README.md says noting about __u__baidu and __t__youtube so it would be good to fix the other apps and this app to align to our API description in our README.md.  There are solutions to this issue in both #327 and #342 so it would be great if you could author a solution that actually gets merged.

[2017-12-05 11:01] raju249 commented on #273
Sure @cclauss
But #342 looks like a lot of changes and LGTM. Why don't we merge that then ?

[2017-12-05 13:45] #330 closed

[2017-12-05 15:15] raju249 commented on #271
Claiming this due to inactivity

[2017-12-05 15:17] raju249 commented on #271
Although yandex redirected me to captcha page when I tried locally.

[2017-12-05 15:50] raju249 commented on #270
Seems like Bluemix removed mongodb from their service offering.
Checkout https://www.ibm.com/blogs/bluemix/2015/10/mongodb-removal/

[2017-12-05 15:50] raju249 commented on #270
They have other alternatives though

[2017-12-05 18:28] realslimshanky opened #366 "Fixing command for Local Development Setup"
**I'm submitting a**
- [x] bug report

**Current behavior:**
Running `source activate venv` to activate virtual environment created on this [documentation](https://github.com/fossasia/query-server/blob/master/docs/installation/local.md) does not work.

**Expected behavior:**
Expected behavior with such a command should be activation of python virtual environment.

**Steps to reproduce:**
Simply fo

[2017-12-06 08:33] raju249 commented on #366
How about we use `virtualenv-wrapper` for activating and deactivating ?

[2017-12-06 08:33] raju249 commented on #366
With that we don't have to use `source activate`. Just `activate env_name` and `deactivate env_name`
Your thoughts ?

[2017-12-06 08:46] realslimshanky commented on #366
@raju249 I recommend using [`pipenv`](https://docs.pipenv.org/) for virtual environment development which is also a recommendation of python.org now. I'll create an issue regarding this and start testing this project.

[2017-12-06 09:06] AnshulMalik opened #368 "Fix tests which incorporate network requests"
- [x] bug report

**Current behavior:**
Currently, while testing, [here](https://github.com/fossasia/query-server/blob/master/app/test_server.py#L27-L43), we actually fetch data from search engines.

This is not what we want, since network is unreliable. So our tests will also be unreliable, one test fails and second time another test fails.

**Expected behavior:**
We should provide custom input t

[2017-12-06 10:02] raju249 commented on #366
Cool stuff @realslimshanky
Please go ahead 😄

[2017-12-06 19:51] #366 closed

[2017-12-07 07:31] realslimshanky opened #369 "Adding pipenv support to the installation documentation"
**I'm submitting a**
- [x] feature request

**Current behavior:**
`pipenv` is not supported yet.

**Expected behavior:**
A `pipenv` support by adding how one can use it to deploy this project in the `Local Installation`.

I would like to work on this issue.

[2017-12-07 08:03] #163 closed

[2017-12-07 08:23] bhaveshAn opened #371 "UI got disturbed"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently, UI got disturbed https://query-server.herokuapp.com/ after #300

![screenshot from 2017-12-07 13-47-26](https://user-images.githubusercontent.com/22936570/33705221-6f8f691e-db55-11e7-8f38-f9dc8f21d644.png)

**Expected behavior:**

To get the UI back as https://murmuring-headland-49787.herokuapp.com/

[2017-12-07 14:04] ParthS007 commented on #52
closing with reference to #300

[2017-12-07 14:04] #52 closed

[2017-12-07 15:31] #369 closed

[2017-12-07 22:13] realslimshanky opened #374 "Website broke due to a recent commit"
**I'm submitting a**
- [x] bug report

**Current behavior:**
![image](https://user-images.githubusercontent.com/10004530/33740906-68b2611e-dbc8-11e7-8510-36aa8b4e93b0.png)
![image](https://user-images.githubusercontent.com/10004530/33740929-7d813624-dbc8-11e7-9f8e-0fa121b90c10.png)

**Expected behavior:**
![image](https://user-images.githubusercontent.com/10004530/33740893-5ae6ce44-dbc8-11e7-8792-

[2017-12-07 22:27] realslimshanky commented on #374
Sorry for the duplicate of #371

[2017-12-07 22:27] #374 closed

[2017-12-07 23:51] cclauss opened #376 "Can we please shut down fossasia-bot?"
As discussed in https://github.com/fossasia/query-server/pull/349#issuecomment-347194797 @fossasia-bit generates a ton of superfluous messages that clutter the PR.  It assigns PRs to their author which as far as I can tell is both redundant and useless.  It then warns of conflicts which either echos information that GitHub has already provided or it is lying because there is no conflict.  It tells

[2017-12-08 02:26] AnshulMalik commented on #376
Yep, I agree with you @cclauss

[2017-12-08 05:29] niranjan94 commented on #376
@cclauss the bot was meant as an experiment. I do agree it is a pretty chatty right now. But somethings like setting labels (needs review and ready to ship) is actually useful for big projects.

And the reason the bot comments the information already provide by GH is that many contributors fail to see the status updates provided by travis. But when the bot comments by mentioning their username, th

[2017-12-08 06:01] cclauss commented on #376
It is a bummer that GitHub web UI does not allow _contributors_ to set a few labels like __needs review__.  I think that humans can make that decision better than bots can.  I have written to GitHub on this topic several times but no positive response yet.  I do not see the value in adding the __ready to ship__ label given that the status of the PR always changes at the same time.

Moving issues f

[2017-12-08 06:03] niranjan94 commented on #376
It has been turned off for query-server.

[2017-12-08 06:06] cclauss commented on #376
Thanks @niranjan94

Do you have admin rights to help solve #332 ?

[2017-12-08 06:06] #376 closed

[2017-12-08 06:08] niranjan94 commented on #376
@cclauss nope. That isn't under my codacy account.

[2017-12-08 08:27] cclauss commented on #271
Do we drop support for Yandex?

[2017-12-08 11:15] cclauss commented on #368
TL;DR Testing against real (not mock) backends is essential.  We can change the xfails() if you want.

Perhaps __@pytest.mark.xfail__s requires a bit of explanation...
* query_server can be running on Python 2 or Python 3
* tests can be run on Travis CI or on a contributor's local machine

Given that our code is not yet Python 3 compatible, we give query_server running on Python 3 an xfail.  We re

[2017-12-08 12:32] #371 closed

[2017-12-08 13:08] cclauss commented on #332
@vaibhavsingh97 Do you have admin rights to help solve issue?

[2017-12-08 19:40] shaddygarg commented on #346
@starlord1311, you working on this?

[2017-12-08 19:41] #271 closed

[2017-12-08 20:28] starlord1311 commented on #368
i would like to take up this issue. can i ? @cclauss @AnshulMalik

[2017-12-08 21:42] cclauss commented on #368
@starlord1311 I think we still need to decide what the ToDo is before we start creating PRs.  Let's first see how @AnshulMalik replies to my comment.  Unless you already know what you want to do.

You might look at the tests in #297 and see of any of them should be a PR of their own.

[2017-12-08 23:33] #357 closed

[2017-12-08 23:34] #126 closed

[2017-12-08 23:36] ParthS007 commented on #134
@treeJoker Please open a new Issue and Explain more in detail.

[2017-12-08 23:36] #134 closed

[2017-12-08 23:37] ParthS007 commented on #136
@prabhavgupta Please explain more in detail

[2017-12-08 23:38] ParthS007 commented on #262
working on it :+1:

[2017-12-08 23:41] #308 closed

[2017-12-08 23:44] ParthS007 commented on #322
Closing since query-server only provides data .

[2017-12-08 23:44] #322 closed

[2017-12-08 23:46] #356 closed

[2017-12-08 23:59] cclauss commented on #273
This is not closed.  The current code still rejects baidu, dailymotion, and youtube unless they have the character prepended to them.

[2017-12-09 04:32] AnshulMalik commented on #368
I see a point in using data from actual network requests, since the parameters we are using to scrape the results might change, and we won't know it if we are testing on hard coded code.

Can we have both solution?
We can run tests fast locally while developing without costing network, so that one can to TDD
And travis can run network tests to be sure everytinng works fine.

[2017-12-09 05:01] raju249 commented on #262
@ParthS007 Excite redirects you to captcha page.
Just try it and you will see :sweat_smile:
Let me know if you have any other work around if you are redirected to captcha page

[2017-12-09 08:20] cclauss commented on #368
That sounds like a workable approach.

__@pytest.mark.skip(not TRAVIS_CI, reason="Avoid network costs for local testing")__ could be put above all tests that use the network so that they would run in Travis CI but would be skipped when doing local testing.  Local users who want to do end-to-end tests can temporarily comment out the decorator.  The new tests which are created around mock data shoul

[2017-12-09 10:41] AnshulMalik opened #380 "Support caching of results"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Hey, currently, whenever a request comes in, query-server goes to the search engine every time to fetch the result. We can improve this, two ways
- Use something in python for caching
- Use mongodb to save results

I personally don't feel first option is good since, we'll need the results for quite a long time, so probably a lot of r

[2017-12-09 10:50] AnshulMalik opened #381 "Support caching of results"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

Hey, currently, whenever a request comes in, query-server goes to the search engine every time to fetch the result. We can improve this, two ways
- Use something in python for caching
- Use mongodb to save results

I personally don't feel first option is good since, we'll need the results for quite a long time, so probably a lot of r

[2017-12-09 10:54] AnshulMalik commented on #381
Duplicate sorry

[2017-12-09 10:54] #381 closed

[2017-12-09 18:49] mariobehling commented on #234
Low priority. This is currently not needed.

[2017-12-09 18:49] #234 closed

[2017-12-09 18:50] mariobehling commented on #361
Currently we need to focus on performance and have low priority for more search engines. Therefore closing it.

[2017-12-09 18:50] #361 closed

[2017-12-09 18:51] mariobehling commented on #306
Currently we need to focus on performance and have low priority for more search engines. Therefore closing it.

[2017-12-09 18:51] #306 closed

[2017-12-09 18:51] mariobehling commented on #350
Currently we need to focus on performance and have low priority for more search engines. Therefore closing it.

[2017-12-09 18:51] #350 closed

[2017-12-09 18:53] mariobehling commented on #355
This should go to the GCI site, not here.

[2017-12-09 18:53] #355 closed

[2017-12-09 18:53] mariobehling commented on #298
What is the use case? What is this needed for?

[2017-12-09 19:33] cclauss opened #382 "Where are our performance issues?"
Several PRs were recently closed with a message that we need to focus on performance.

Could we document here what we mean by performance and how we hope to increase it?

Do we mean?
- [ ] Server startup time
- [ ] Time from query to response on unique queries
- [ ] Time from query to response on repeated queries
- [ ] Speed when dealing with multiple callers simultaneously
- [ ] Other

[2017-12-09 22:54] dgarvit commented on #210
@rupav are you still working on it? If not, can I work on this?

[2017-12-10 05:21] rupav commented on #210
@dgarvit I am not assigned to this task, please ask @vaibhavsingh97 for the same. :)

[2017-12-10 05:38] raju249 commented on #380
@AnshulMalik So we have a mechanism in place for saving results for a query and returning from db if same query comes in.
Can you please explain what needs to be done ?

[2017-12-10 05:42] raju249 commented on #382
#262 and #338 are still open.
Can we please know why ?

[2017-12-10 06:21] AnshulMalik commented on #382
May be @mariobehling forgot :P

[2017-12-10 06:31] AnshulMalik commented on #380
When a request comes, say for query `q` and engine `e` and numResults `n`,
we first check in db if such data exists that is, having {q, e, >n}
If exist, we fetch and check for validity, validity here means, if the data in db is expired or not.

If doesn't exist, we do the usual thing, go to search engine and fetch the results, and save it into db.

[2017-12-10 11:59] cclauss opened #383 "URLs fail to open against a local query-server: dailymotion and yandex"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

When running a query-server locally on Python2, the following URLs do not open:
[code]

**Expected behavior:**

These URLs would produce similar results to similar URLs for other scrapers.

**Steps to reproduce:**
[code]

[2017-12-10 12:38] AnshulMalik commented on #383
I tried all engines, yandex and dailymotion's results are not coming up, the process running forever.

[2017-12-10 13:01] cclauss commented on #383
@AnshulMalik You are correct.  Those two scrapers seem to be failing.  The others work on master.

[2017-12-10 13:12] cclauss commented on #382
#341 would help us understand one aspect of performance.

[2017-12-10 15:45] starlord1311 commented on #368
@cclauss  can you explain what i am supposed to do?

[2017-12-10 15:57] starlord1311 commented on #380
i would like to take up this issue. can i ?

[2017-12-10 16:33] #328 closed

[2017-12-11 19:25] starlord1311 commented on #380
@AnshulMalik

[2017-12-11 19:30] #346 closed

[2017-12-11 19:40] ParthS007 commented on #262
closing it as no more search engine are required

[2017-12-11 19:40] #262 closed

[2017-12-11 19:41] ParthS007 commented on #338
Closing Since no more Search engines are required 👍

[2017-12-11 19:48] #338 closed

[2017-12-11 23:09] harsh-98 commented on #383
@AnshulMalik yandex is failing because the site is redirecting to catpcha though dailymotion is working fine

[2017-12-11 23:45] harsh-98 opened #386 "utf-8 encoding is causing problem"
**I'm submitting a ...**
- [ -] bug report
- [ ] feature request

**Current behavior:**
When format is XML, then response is parsed for each `ascii` value and hence output looks like--
    <?xml version="1.0"?><channel>
        <item>
            <title>
                <item>104</item>
                <item>105</item>
                <item>33</item>

**Expected behavior:**
    <?xml version="1.0"

[2017-12-12 05:27] cclauss opened #387 "yandex is failing because of redirect to catpcha"
https://github.com/fossasia/query-server/issues/383#issuecomment-350889007

**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

We get no data

**Expected behavior:**

We get data

**Steps to reproduce:**
Run #385

[2017-12-12 05:37] cclauss commented on #383
Thank you @harsh-98  I opened #387 so we can put some focus on resolving the captcha issue.

Would it be possible for you to remove dailymotion from https://github.com/fossasia/query-server/pull/385/files#diff-eff0198ff37b58d7351b62ca25b3f095R30 and tell us why it is failing?  I know that it is failing but not why.

[2017-12-12 06:11] AnshulMalik commented on #380
Yes @starlord1311, go ahead

[2017-12-12 07:48] starlord1311 commented on #380
@AnshulMalik can you tell what i am supposed to do?

[2017-12-12 12:05] harsh-98 commented on #383
@cclauss  on my system it isn't failing.

[2017-12-12 17:33] Dragneel7 commented on #387
@cclauss The catpcha is there to prevent automated request. There is a service "https://xml.yandex.com"
that allows you to send automated request. Maybe that can help.

[2017-12-13 13:28] dgarvit commented on #321
@ParthS007 are you still working? I would like to work on this in case you are not. :smile:

[2017-12-13 13:40] starlord1311 commented on #386
i would like to work on this. can i @harsh-98

[2017-12-13 14:12] harsh-98 commented on #386
i am working on it so :smile:

[2017-12-13 15:31] starlord1311 commented on #380
@AnshulMalik ?

[2017-12-13 15:35] cclauss commented on #386
Is this a problem on Python 2 or Python 3 or both?

[2017-12-13 16:11] starlord1311 commented on #387
can i take this up?

[2017-12-14 09:50] dgarvit opened #388 "Parsing error in searches"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Some searches create the error: `'ascii' codec can't decode byte` , and as a result error 500 is returned.

**Expected behavior:**

Parse the result correctly.

**Steps to reproduce:**
Search `apple` on Bing, DuckDuckGo, etc.

[2017-12-14 09:50] dgarvit commented on #388
I'd like to work on this issue.

[2017-12-14 13:48] #388 closed

[2017-12-14 22:46] cclauss opened #391 "Would there be an objection to going Python 3 only?"
**I'm submitting a ...**
- [X] Question

When debugging app/server.py and scrapers, one of the issues that seems to come up often is the difference between bytes and strings and Unicode in Python 2.  Given that our users are often interested in making queries using double byte languages from Asia, would we better off to shift to Python 3 where every str is Unicode and where there is an explicit di

[2017-12-15 07:37] harsh-98 commented on #386
@cclauss  both the due to utf-8 encoding the xml is parsing each ascii individually.

[2017-12-15 09:34] vaibhavsingh97 commented on #210
@rupav I said, yes for the last question you asked 😆 . Now, we have one PR already 😄

[2017-12-15 10:14] rupav commented on #210
Oh, I though you said yes that you are working on it. Misinterpreted that 😅. Sorry

[2017-12-15 16:29] #210 closed

[2017-12-15 16:43] bhaveshAn commented on #58
Please see it has a single issue which has been split up by #320 and #321

[2017-12-15 16:50] bhaveshAn opened #393 "Incorrect URL for Yahoo search"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

![yahoo-error-url](https://user-images.githubusercontent.com/22936570/34051844-080631fa-e1e6-11e7-972a-127577568a0a.png)
**Expected behavior:**

The URL should be free off `RK=2`
**Steps to reproduce:**

[2017-12-16 06:15] raju249 commented on #387
Yandex for registration asks for a phone number. If we don't provide at the start, it only allows 10 xml calls per day.
Also there is account specific key.
So here we have the following options to go with:
1. Stop the support of yandex
2. Provide a phone number and email to the one who will be working on this issue.

Your thoughts @cclauss

cc @mariobehling

[2017-12-16 07:45] cclauss commented on #387
My vote would be for dropping the Yandex scraper but the project maintenaners might have a different point of view.

[2017-12-16 09:41] raju249 commented on #387
+ @vaibhavsingh97
+ @djmgit
+ @bhaveshAn

[2017-12-16 11:54] yashLadha opened #396 "Reformat Code in more python format"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

[2017-12-16 12:23] #393 closed

[2017-12-17 17:36] #396 closed

[2017-12-22 13:15] yashLadha opened #400 "Correction in readme"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

[2017-12-22 19:36] umangahuja1 opened #402 "Update in Readme"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Usage link present in readme is not required as it is unreferenced.

**Expected behavior:**

Updated readme after removing that line. No change in behavior.

**Steps to reproduce:**
Simply remove the line from readme.

[2017-12-22 19:48] Shivamgera commented on #402
I would like to work on this issue.

[2017-12-22 19:52] umangahuja1 commented on #402
I have already sent a PR.

[2017-12-22 22:08] cclauss commented on #265
Should this issue be closed?

[2017-12-22 22:16] cclauss opened #404 "small_test() is broken: search() is missing a parameter"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

small_test() at https://github.com/fossasia/query-server/blob/master/app/scrapers/__init__.py#L34-L35 will raise an exception.

**Expected behavior:**

small_test() works as expected

**Steps to reproduce:**
Call small_test()

[2017-12-23 04:29] AnshulMalik commented on #400
Can you please elaborate this issue ? I think this is platform specific.

[2017-12-23 23:12] dgarvit commented on #404
Thanks for finding this little bug! This probably has to do with invalid function call.

[2017-12-24 09:58] #404 closed

[2017-12-24 11:13] #402 closed

[2017-12-25 09:02] yashLadha commented on #400
To start the mongo database, there is a need to start `mongodb` contrary to `mongod` service.

[2017-12-25 10:21] bhaveshAn commented on #137
@mariobehling
I would like to work on this issue. Please guide more on this. I have complete idea of `Query-Server` as I have added supports of **Baidu**, **Quora**, **Youtube**, **Exalead**, **Yandex**, **Mojeek**, and **Parsijoo**
Please guide for this issue.

[2017-12-26 07:50] raju249 commented on #400
@yashLadha I think we can open this small issues but keep them open for the beginner contributors who may need a moral push once their PRs are merged, so that they can move around the codebase and get encouraged to do more.

What you think ?
cc @AnshulMalik

[2017-12-26 07:51] yashLadha commented on #400
Yaa I also think to add this issue in gci as well.

On Dec 26, 2017 1:20 PM, "Rajendra kadam" <notifications@github.com> wrote:

[2017-12-26 07:51] raju249 commented on #400
yeah, we can do that

[2017-12-26 07:52] AnshulMalik commented on #400
@raju249 Good point.

[2017-12-26 07:52] AnshulMalik commented on #400
Let's chat on gitter?

[2017-12-26 07:55] raju249 commented on #400
The general link doesn't seem to work.

[2017-12-26 12:35] dgarvit opened #406 "Quer-server doesn't seem to work on a smaller window"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Query server doesnt seem to work when the window size is resized to a smaller one.

**Expected behavior:**

Query server works when the window size is resized to a smaller one.

**Steps to reproduce:**
Resize the window size to a smaller one.

Representation:
![fossasia](https://user-images.githubusercontent.co

[2017-12-26 12:35] dgarvit commented on #406
Yes, I'd like to work upon it.

[2017-12-26 12:43] dgarvit opened #407 "Disable Yandex for now"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

In reference to #387.

I'd like to work upon this once maintainers confirm it.

[2017-12-26 13:26] vaibhavsingh97 commented on #406
@dgarvit Please send PR for the same

[2017-12-26 16:59] bhaveshAn commented on #407
Disabling any existed support would not be nice way to go.
I still think, there may be some solution to it.
So, we should collaboratively find some solution to it.
@fossasia/query-server-searss-devs Can we, please have a discussion on it.

[2017-12-27 15:15] vaibhavsingh97 commented on #407
Sure! Can move to gitter for further discussion

[2017-12-27 18:42] dgarvit commented on #407
@bhaveshAn definitely. But until we get to a solution, i think disabling it should be a better idea. Definitely we need to fix it, but it causes the server to keep making constant requests, and return empty results. In most cases the process needs to be killed and server be restarted. It is not right to keep something enabled which is not working for now. Work out a solution and then we will enabl

[2017-12-28 20:39] #136 closed

[2017-12-29 09:45] gabru-md opened #410 "Replacing Buttons with Dropdown"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

Currently we have buttons for all separate scrappers
**Expected behavior:**

It is a bit untidy and so I suggest adding a dropdown with all the scrappers to choose from.

**Would you like to work on it**
Yes, I would like to work on this issue.

[2017-12-29 09:47] ParthS007 commented on #410
I was just opening this

[2017-12-29 09:50] gabru-md commented on #410
Available for GCI Students as of now!

[2017-12-29 10:07] bhaveshAn opened #411 "Remove repeated auto-deployment buttons of Heroku and Docker"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently, there are repeated auto-deployments buttons in README.md
**Expected behavior:**

Removing, these auto-deployment buttons which came more than once in README.md
**Steps to reproduce:**

[2017-12-29 10:12] dgarvit commented on #407
@bhaveshAn @vaibhavsingh97 your views?

[2017-12-29 10:16] #406 closed

[2017-12-29 10:36] bhaveshAn commented on #407
Sure, In my views, you can modify the yandex button (under buttons' disable property of bootstrap) but not removing the button.

[2017-12-29 10:43] abishekvashok commented on #410
@ParthS007 @gabru-md can I do it?

[2017-12-29 11:11] gabru-md commented on #410
Sure buddy

[2017-12-29 16:45] #407 closed

[2017-12-31 11:53] vaibhavsingh97 commented on #321
Working on it

[2018-01-01 16:06] #410 closed

[2018-01-01 16:10] #380 closed

[2018-01-01 16:12] ParthS007 commented on #400
Closing this because of lack of clarity what changes are to be done. Please open new issue with proper description 👍

[2018-01-01 16:12] #400 closed

[2018-01-01 16:12] #387 closed

[2018-01-01 17:36] umangahuja1 opened #415 "Refactor Code and Improve Documentation"
**Changes to be done:**

- [ ] Though csv feature is working but csv format not present in readme.
- [ ] Remove repeated auto-deployment buttons of Heroku and Docker.
- [ ] Python 2.7 and 3.6 are both tested and supported (See __.travis.yml__)
- [ ] In __server.py__, search() is too complex and should be broken into multiple functions.

**Please ask on Gitter channel if you have any doubt in above

[2018-01-01 17:36] cclauss commented on #273
This issue is closed?

[2018-01-01 17:37] cclauss commented on #265
Should this issue be closed?

[2018-01-01 17:38] cclauss commented on #415
This PR has a useless title.

[2018-01-01 17:39] ParthS007 commented on #415
@umangahuja1  Nice catch, GCI students can do it

[2018-01-01 17:39] umangahuja1 commented on #415
It was a minor change so I didn't bother. Still suggest something useful please.

[2018-01-01 17:40] cclauss commented on #321
Duplicate of #58 ?

[2018-01-01 17:42] ParthS007 commented on #265
@vaibhavsingh97  Please update 👍

[2018-01-01 17:43] umangahuja1 commented on #415
@ParthS007 I will find some more, but for this I have already sent a PR. Didn't saw that comment. Still you can reject if you want to keep for GCI

[2018-01-01 17:45] ParthS007 commented on #415
@umangahuja1  Add all the other minor changes to be done here and GCI students will do it 👍

[2018-01-01 17:47] umangahuja1 commented on #415
Sure.
Will add more if I come across any. I think we should create separate issues or combine 2-3 changes if encountered simultaneously in an issue together.

[2018-01-01 17:49] ParthS007 commented on #415
add all the bugs with a checklist here and students will give multiple PRs for it 👍

[2018-01-01 17:51] umangahuja1 commented on #415
Okay nice idea. :+1:

[2018-01-01 18:32] cclauss commented on #415
- [ ] Python 2.7 and 3.6 are both tested and supported (See __.travis.yml__)
- [ ] In server.py, search() is too complex and should be broken into multiple functions.

[2018-01-01 18:53] vaibhavsingh97 commented on #265
@ParthS007 Let beginner should do it.

[2018-01-01 18:54] cclauss commented on #265
Do what exactly?  The code mentioned above is already cleaned up.  Where are other examples in the current codebase that need to be cleaned up?

[2018-01-01 19:19] ParthS007 commented on #415
thanks, @cclauss  added it to the checklist.

[2018-01-01 19:32] ParthS007 commented on #415
@fossasia/query-server-searss-devs  Please add all issues here which can be solved by GCI participants. 👍

[2018-01-01 20:46] bhaveshAn opened #418 "Modify Travis to enable Codecov"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Currently, the `codecov` having problems in `.travis.yml`.
**Expected behavior:**

[code]
might solve the issue.
**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2018-01-02 09:38] vaibhavsingh97 commented on #320
@raju249 Are you working on the issue?

[2018-01-02 09:45] bhaveshAn commented on #415
Sure @ParthS007

[2018-01-02 11:23] umangahuja1 commented on #320
Assign this issue to me since nobody is working as of now and I am willing to take this up. @vaibhavsingh97

[2018-01-02 11:26] vaibhavsingh97 commented on #320
@umangahuja1 I can't assign the issue to you but you can work on this issue.
Thanks

[2018-01-02 11:32] umangahuja1 commented on #320
Okay since you said to get assigned but I don't know how to do it. I am starting it then.

![image](https://user-images.githubusercontent.com/22851705/34482490-560782a4-efde-11e7-8b69-daa6233ad1d7.png)

Just for confirmation, this feature intend to get these title and url from videos section?

Like https://www.icc-cricket.com/womens-world-cup/video/440702 for the first item.

[2018-01-02 11:37] vaibhavsingh97 commented on #320
Yes @umangahuja1 So what we discussed in gitter to have one extra attribute type which contains `url`, `image` and `video` and based on the type and format. result will be displayed.

[2018-01-02 11:41] umangahuja1 commented on #320
Great so for now I will start will google, but I think this will be done for all those search engines that offer images and videos.

So most probably all the changes will be made in their respective files (e.g for google google.py) and other functions will be added to scrape accordingly.

Is this what you are doing in image feature?

[2018-01-02 12:12] bhaveshAn commented on #320
@umangahuja1 Since this issue has been taken too long, without any progress, so please work on this a little quick, with regular update as this need regular discussions on the approach.

Also, I have fixed half of it. So if you aren't fully comfortable with the approach then let me make a pull on Video search in 3-4 days or so. and then you can switch to other file types like Image search etc (As

[2018-01-02 12:14] umangahuja1 commented on #320
What have you done, if anything?
Because it's not a bug, it's a feature so there is nothing to be fixed I suppose.

Better to discuss in chat or wherever with others too if you have done something because I took it today itself. Switch to gitter.

[2018-01-02 12:30] bhaveshAn commented on #320
All I mean I am about to give the PR on this in 3-4 days. So please don't work on this.
@vaibhavsingh97 You can assign it to me as this is definitely not a beginners issue, advanced one as all the enhancement on all the supported search engines.
And @umangahuja1 Please start the project from some beginners issue. Or check if https://github.com/fossasia/query-server/issues/321 is available as it is

[2018-01-02 12:35] vaibhavsingh97 commented on #320
@bhaveshAn IMO, i think @umangahuja1 should get a fair chance. Let him try. I know it's not an beginner issue but what's wrong in giving a chance. we can help him if he got stuck somewhere. It's good that you want to work on this issue but @umangahuja1 asked to claim first so h should get the fair chance. Thanks

[2018-01-02 12:43] harshit98 commented on #320
@bhaveshAn @vaibhavsingh97 What's the matter?

@umangahuja1 Hi. You may please proceed to solve this issue and take your time. If you need any help, chat is the best way to communicate!

[2018-01-02 16:12] vaibhavsingh97 commented on #387
@cclauss I think we have to figure a way out instead of droping the support

[2018-01-02 19:11] Remorax opened #420 "Add Twitter search"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There's no feature to search tweets.

**Expected behavior:**
There should be a feature to search tweets

I would like to work on this 😄

[2018-01-03 14:49] umangahuja1 commented on #320
Here is the screenshot of video feature

![image](https://user-images.githubusercontent.com/22851705/34524892-246f2eaa-f0c3-11e7-8d63-886e9966048b.png)

![image](https://user-images.githubusercontent.com/22851705/34524884-193c6a02-f0c3-11e7-8332-0489c6be871b.png)

I will add front end and make it working soon.

[2018-01-05 08:49] cclauss opened #423 "One source of scraper names, not three."
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

Adding new scrapers to the system is too complex because the name of the scraper must be correctly entered in three places (plus README.md):
1. https://github.com/fossasia/query-server/blob/master/app/scrapers/__init__.py#L17-L31
2. https://github.com/fossasia/query-server/blob/master/app/server.py#L26-L28
3. h

[2018-01-05 10:13] dilraj45 commented on #58
Is this issue still open? I would really like to work on this.
I can start with developing APIs for scraping images and video results obtained from various search engines.

[2018-01-05 10:28] dilraj45 commented on #423
Creating a constant file containing all the hard-coded string and referring to these constants wherever necessary could be alternate approach for achieving the expected behavior. If this issues hasn't been assigned to anyone then, i would like to take this up. And please, do let me know which approach will be more suitable

[2018-01-05 10:44] cclauss commented on #423
I hope that in the end we autoload the scraper names by looking in the classes defined in __app/scrapers__ but it has taken me some time to get #342 approved.  I will get to it eventually but this is a good stepping stone.

See: https://github.com/fossasia/query-server/pull/342/files#diff-0aae1cd6587ddccb7df807d245dcbd4aR67

[2018-01-05 11:03] dilraj45 commented on #423
Yeah, that will be great. I'll try to look into issue [#424](https://github.com/fossasia/query-server/pull/424), and will see if i can be of any help to you.

[2018-01-05 19:34] vaibhavsingh97 commented on #58
@dilraj45 you can look at #320 and #321 for the status. As of now both are occupied, you can look over new issues

[2018-01-08 01:35] lawrencenull opened #428 "failure to deploy"
**I'm submitting a ...**
- [* ] bug report
- [ ] feature request

**Current behavior:**

Error in the Mongo.py. Tried deploying to heroku, bluemix and scale lingo.

2018-01-07 16:40:05.671029205 +0000 UTC [web-1] pymongo.errors.ServerSelectionTimeoutError: localhost:27017: [Errno 111] Connection refused

**Expected behavior:**

**Steps to reproduce:**

[2018-01-08 08:27] apoorvkhare07 commented on #428
@lawrencenull You may try this
Removing mongod.lock from
`/var/lib/mongodb`
And then try restarting the service
`sudo service mongodb start`

I hope it helps !

[2018-01-09 15:43] lawrencenull commented on #428
This isn't on a local machine. My meaning is something changed in the code causing it not to deploy to any cloud service.  Even https://query-server.herokuapp.com/ is serving an error message from this repo's auto deploy.

[2018-01-09 17:10] cclauss commented on #273
Can we please close this issue?!?

[2018-01-09 19:55] 0x48piraj commented on #415
@ParthS007 No tasks are there for query server.
Although, I'll do it :+1:

[2018-01-09 20:54] lawrencenull opened #430 "naming convention"
**I'm submitting a ...**
- [ ] bug report
- [*] feature request

It appears that soon there will be video and image results. Is there a naming convention established yet? Once the deploy bug is handled i would like to try my hand at this, I'm new to python but it seems pretty straightforward to create a scraper. I would propose as follows for naming if a standard convention isn't already in place:

[2018-01-09 22:43] #411 closed

[2018-01-10 05:37] #273 closed

[2018-01-10 05:38] #423 closed

[2018-01-10 06:01] cclauss commented on #430
Our [API documentation](https://github.com/fossasia/query-server/blob/master/README.md#api) shows that we already use __format__ to mean the output format (json, xml, csv).  You will need to select a different word or we would need to make a breaking change to our API.

[2018-01-10 11:29] lawrencenull commented on #430
Sorry i wasn't clear I was meaning the search engine name for the asset.

/api/v1/search/<bing-images>?query=query&format=format
/api/v1/search/<bing-videos>?query=query&format=format

etc

[2018-01-10 20:04] Remorax opened #433 "Add Indeed Search"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
There is no feature to search using Indeed.

**Expected behavior:**
There should be a feature for the same.

[2018-01-11 06:37] S2606 opened #435 "Application crashed!"
**I'm submitting a ...**
- [X] bug report
- [ ] feature request

**Current behavior:**
Application is crashed

**Expected behavior:**
It shouldnt be.

**Steps to reproduce:**

[2018-01-11 06:38] S2606 commented on #435
I would love to claim this but since i dont have access to Heroku deployment, I cant

[2018-01-11 06:38] S2606 commented on #435
@vaibhavsingh97 @bhaveshAn @cclauss What do you think?

[2018-01-11 07:18] Remorax opened #436 "Yandex search bug"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Yandex search is failing because it redirects to captcha

**Expected behavior:**
Disable Yandex

**Steps to reproduce:**
1. Choose Yandex from the dropdown menu
2. Enter a search query
3. Click on Search
4. No result is returned, the entire process has to be killed and started again

I would like to work on this

[2018-01-11 08:54] bhaveshAn commented on #435
Here are the logs

Screenshot:
![screenshot from 2018-01-11 14-19-13](https://user-images.githubusercontent.com/22936570/34816332-a510bdfe-f6da-11e7-88d5-5fe830d1195a.png)

Complete logs :
[code]

[2018-01-11 09:09] cclauss commented on #435
Looks like this one is mine...  Sorry!  Fix on its way.

[2018-01-11 09:10] S2606 commented on #435
@cclauss I would like to work on this.

[2018-01-11 09:21] cclauss commented on #435
@S2606 Please see #437 and help out.  Perhaps that PR does not solve the root problem.  I do not know Mongo so your help would be much appreciated.

[2018-01-11 10:45] cclauss commented on #428
Related to #435 ?

[2018-01-11 17:50] Remorax commented on #436
Apparently, there's an IP restriction in the Yandex API, that is, we need to specify the IPs we're gonna make a request from beforehand. I don't think there's any other way to implement this, the best thing to do would be to drop this feature, we have enough search engines anyway

[2018-01-12 03:40] #418 closed

[2018-01-12 09:07] ParthS007 opened #439 "Codecov is not generating Coverage report"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Presently, after adding Codecov report is generated.

**Expected behavior:**
 It should generate a coverage report

I am working on this issue.

[2018-01-12 14:29] Remorax commented on #436
I'm going to make a PR which disables the Yandex feature, as discussed in the gitter channel.

[2018-01-14 08:08] Remorax commented on #320
@vaibhavsingh97 @umangahuja1 @harshit98 Can I work on the other search engines? It would be better if the work is divided, right?

[2018-01-14 08:12] umangahuja1 commented on #320
I think that will be a great idea. I am working on bing so you can choose any other. We can pace up things this way. But for that it would be better to merge the PR I sent since it will be used in all other engined.

What do you all say?

[2018-01-14 08:14] Remorax commented on #320
That's cool @umangahuja1 😄
I'll be making a PR within the next 2 days 😄

[2018-01-14 08:16] umangahuja1 commented on #320
Wait let the google search PR get merged since it has front end part. Also generalised.py and one more file has some changes that will be used in all.

[2018-01-14 08:19] bhaveshAn commented on #320
Okay, so I will also be working for video search in Baidu and Ask.

On Jan 14, 2018 1:46 PM, "Umang Ahuja" <notifications@github.com> wrote:

[2018-01-14 08:23] Remorax commented on #320
Cool, I'll be working on Yahoo and DuckDuckGo.

[2018-01-14 08:24] Remorax commented on #320
@umangahuja1 Sure we'll wait for your PR to get merged, don't worry 😄 .
Okay @bhaveshAn ?

[2018-01-14 20:49] #436 closed

[2018-01-14 22:46] ParthS007 opened #442 "Remove Hound"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
Presently, Hound CI doesn't make comments.

**Expected behavior:**
Removes Hound as flake8 + codacy + codecov + pytest are sufficient for testing code quality.

I am working on this Issue.

[2018-01-15 06:05] #439 closed

[2018-01-15 10:54] ParthS007 commented on #391
Yes, @cclauss  I agree with you, we should shift to Python 3 so that we don't have to run build for python 2 and 3 both and It's necessary to adopt the changes and there should be uniformity in the whole project. I would also like to work with you on this. Sorry for late response.

[2018-01-15 11:02] vaibhavsingh97 commented on #391
@ParthS007 IMO, I think query server should support Python 2.x. As Python Community will drop suport of Python 2 by 2020 so we should atleast give support till that time.

[2018-01-15 11:10] cclauss commented on #391
Django (arguably the most used Python server platform) has dropped Python 2 support.  I believe that we can follow suit.

Sent from my iPhone

[2018-01-15 13:39] ParthS007 commented on #391
@vaibhavsingh97  IMO Python 3 will increase uniformity in the project as some scripts are in Python 2 or 3 presently. One version should be present in whole projects and we can't downgrade it to Python 2 so only Python 3 is the only alternative.

[2018-01-15 16:43] cclauss commented on #332
I found the solution!!  Create a __bandit.yml__ file at the root of the repo that contains:
* __skips: ['B101']__

[2018-01-15 22:12] cclauss commented on #386
Is this issue closed?

[2018-01-17 05:02] ParthS007 opened #444 "Application Error"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

![image](https://user-images.githubusercontent.com/24358501/35026536-a53554ca-fb71-11e7-8d06-05fb0e7469f5.png)

@cclauss @vaibhavsingh97 Please have a look.

[2018-01-17 07:48] #433 closed

[2018-01-17 19:07] ParthS007 commented on #444
I think now It's running fine. Closing this

[2018-01-17 19:07] #444 closed

[2018-01-18 07:14] 0x48piraj opened #445 "Re-Design UI"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
![image](https://user-images.githubusercontent.com/5800726/35085072-f8e11876-fc4c-11e7-80ae-89b80342744b.png)

**_The current design is pretty haywire and not looks good to see and to use._**

**Expected behavior:**
- Design should look ordered.
- Should be easy to use.

## Raw UI Screenshots :
![image](https://

[2018-01-18 07:18] 0x48piraj commented on #445
ping @fossasia/query-server-searss-admin @fossasia/query-server-searss-devs 👍

[2018-01-18 11:51] duttaditya18 commented on #445
@0x48piraj Awesome idea! The current layout works pretty well though.

[2018-01-18 12:20] 0x48piraj commented on #445
Should I proceed ?

[2018-01-18 12:23] duttaditya18 commented on #445
@0x48piraj I think you totally should! But please wait for the conformation of someone who knows more than me! 😄

[2018-01-18 12:27] 0x48piraj commented on #445
Yes, I'm waiting for core-developers only 😉

[2018-01-18 19:36] Remorax commented on #445
@0x48piraj I think the latter looks better. Just make sure its' aligned properly and the submit button is on the bottom. I think that would look better 😄

[2018-01-18 19:39] 0x48piraj commented on #445
On it!

[2018-01-19 06:07] raju249 commented on #445
Also @0x48piraj please take care of different screen sizes.
Good luck

[2018-01-19 17:24] Remorax commented on #321
I would like to add Yahoo image search, I just made a PR for Yahoo video search and its not difficult to add image search from there. Hope that's fine 😄

[2018-01-20 15:11] Remorax commented on #320
@bhaveshAn Let's divide the work. I'll be working on Mojeek, Ask and DuckDuckGo. Can you work on the rest? Thanks 😄

[2018-01-20 15:22] bhaveshAn commented on #320
Mojeek is not supporting Image/Video search check it out https://www.mojeek.co.uk/search?q=fossasia
I am working on Ask Video search as claimed previously https://github.com/fossasia/query-server/issues/320#issuecomment-357495815

You can proceed with Duckduckgo

[2018-01-20 17:11] Remorax commented on #320
@bhaveshAn you had claimed Baidu and Ask but you made PRs for Parsijoo and Bing 😆
I was actually in the middle of working on Bing, so idk what to say to that. But yeah, I'll work on DuckDuckGo then.

[2018-01-20 17:18] bhaveshAn commented on #320
Yeah, earlier, I had claimed Ask and Baidu, and you claimed Yahoo (For which made the PR) and Duckudckgo, but there was no discussion on Parsijoo and Bing, thats why I made the PR, suddenly, since no one here claimed rest out of `Ask, Baidu    Yahoo, DuckDuckGo`

[2018-01-20 17:21] Remorax commented on #320
That's true but you should probably have worked on Baidu and Ask first and then work on Bing and Parsijoo after asking others and making sure no one else is working on it. Peace 😄

[2018-01-21 05:38] raju249 opened #451 "Import error on starting the server locally"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

An import error is shown in console on starting the server locally. `scrapers` dict was imported from `app` folder. There was no need for absolute import.

**Expected behavior:**

Server should start locally.

**Steps to reproduce:**
Try starting the server locally using `python app/server.py`

[2018-01-21 08:02] #451 closed

[2018-01-21 08:50] nityanandagohain opened #453 "typo in local installation guide"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

In the local installation guide
![screenshot from 2018-01-21 14-15-05](https://user-images.githubusercontent.com/26831659/35192338-00ae04e0-feb6-11e7-9a0a-d7bb375c6007.png)

**Expected behavior:**

It should be `sudo service mongodb start`

I would like to work on this issue.

[2018-01-21 09:16] bhaveshAn opened #455 "Add Image/Video search support for Parsijoo"
In favour of split up of Issue in #320 and #321
=======================================

**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, no support for Images and Video in parsijoo.
**Expected behavior:**

Adding support of Video and Image search in Parsijoo.
**Steps to reproduce:**

Had worked on this issue.

[2018-01-21 09:20] bhaveshAn opened #456 "Add Image/Video search support for Bing"
In favour of split up of Issue in #320 and #321
=======================================

**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, no support for Images and Video in Bing.
**Expected behavior:**

Adding support of Video and Image search in Bing.
**Steps to reproduce:**

Had worked on this issue.

[2018-01-21 14:38] cclauss commented on #391
@ParthS007 What do you view as the next steps on this issue?

[2018-01-21 22:29] realslimshanky opened #457 "Changing class methods to static methods"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Looking at the individual scrapper classes inside `app/scrapers/` (like `ask.py`) you'll find out that `next_start` and `parse_response` can be changed into static methods.

**Expected behavior:**
This will not change the public API or the user experience with the API in any case, but it'll come as an advantage

[2018-01-22 07:39] #457 closed

[2018-01-22 08:21] datboiee commented on #453
On it!

[2018-01-22 08:43] datboiee opened #460 "APP CRASH!"
**I'm submitting a ...**
- [[*]](https://imgur.com/a/zS4ii) bug report
- [ ] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

[2018-01-22 08:44] datboiee commented on #460
https://imgur.com/a/zS4ii

[2018-01-22 08:48] bhaveshAn commented on #460
Check out https://query-server.herokuapp.com/

[2018-01-22 08:48] #460 closed

[2018-01-22 09:29] datboiee commented on #460
It is still not working

[2018-01-22 09:32] datboiee commented on #460
https://imgur.com/a/3bRUA

[2018-01-22 11:02] realslimshanky commented on #445
@0x48piraj Hi, any progress on this issue?

[2018-01-22 11:53] cclauss opened #461 "Do we need the search_without_count() functions?"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

We have many repetitive functions that I believe could be eliminated.

**Expected behavior:**

Fewer functions required to deliver the equivalent functionality.

**Steps to reproduce:**
Our scrapers have:
* [__def search(self, query, num_results, qtype=''):__](https://github.com/fossasia/query-server/blob/maste

[2018-01-22 12:05] nityanandagohain commented on #453
@datboiee Actually I have already submitted an PR

[2018-01-22 17:01] bhaveshAn opened #462 "Add Video search support for Ask"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, no support for Ask Video search.
**Expected behavior:**

Add Video search support for Ask
**Steps to reproduce:**
**yes, wanna work on this issue**

[2018-01-22 18:40] bhaveshAn opened #464 "Add Image search support of Yahoo"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, No support of Image search in Yahoo.
**Expected behavior:**

Add Image search support of Yahoo
**Steps to reproduce:**

**Yes, I would like to work on this issue**

[2018-01-22 19:27] bhaveshAn opened #466 "Add package-lock.json"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

No `package-lock.json` present.
**Expected behavior:**

`package-lock.json` file has to be commited to version control and **not** to add in `.gitignore`
https://medium.com/@Quigley_Ja/everything-you-wanted-to-know-about-package-lock-json-b81911aa8ab8#1c9a

**Steps to reproduce:**

**Yes, Wanna work on this iss

[2018-01-22 19:42] bhaveshAn commented on #386
@harsh-98 I don't this its a valid issue, as , if you will search keyword=fossasia in search bar, you will get both json and xml response as they should be (specially in case of Baidu, where Chinese characters are supported in both json and XML )

[2018-01-22 19:46] cclauss commented on #386
Do we have pytests that include Chinese characters in both the input and the output?  Are the results of those tests identical in legacy Python and Python?

[2018-01-23 09:54] ankan17 commented on #461
Can I work on this issue?

[2018-01-23 09:56] cclauss commented on #461
@ankan17 I see no problem with that but it will require good tests as well.

[2018-01-23 10:02] bhaveshAn commented on #461
Its not a valid issue see the reasons
Go to https://www.youtube.com/results?search_query=fossasia and tell me if there's any page index.
[code]

[2018-01-23 10:13] #442 closed

[2018-01-23 10:21] mariobehling opened #468 "Add News Search Feature"
We have a lot of search engines with news features. Please add news search to the repo.

[2018-01-23 10:22] bhaveshAn commented on #468
I am working on this issue.

[2018-01-23 10:22] mariobehling opened #469 "How can we get a list of the news services list of Google etc."
Google and others have a news service that only searches specific news. It also limits its search depending on the language. How can we get the list of news sites searched from Google News and others?

[2018-01-23 10:30] cclauss commented on #461
It is a valid issue the way that it is written above:
* So, why not have a default value for the num_results parameter (__def search(self, query, num_results=10, qtype=''):__)

That deals adequately with your objection.  query-server in not going to return an infinite number of results just because the upstream search engine does so.

[2018-01-23 10:35] bhaveshAn commented on #469
Do you mean this https://www.labnol.org/tech/google-news-sources/19321/

[2018-01-23 11:09] ParthS007 commented on #468
@bhaveshAn  Please create a checklist of all the search engine and specify on which you are working. It will be easy for others to follow up 👍

[2018-01-23 11:14] ParthS007 commented on #468
I am working on Google. 👍

[2018-01-23 11:33] ankan17 commented on #461
@cclauss You mean I have to write the tests as well?

[2018-01-23 11:37] cclauss commented on #461
Yes, please.  We now have plenty of examples:
* https://github.com/fossasia/query-server/tree/master/test

[2018-01-23 20:04] cclauss commented on #428
Is this issue still open?

[2018-01-23 20:10] cclauss commented on #466
Do folks install query-server with npm?

https://docs.pipenv.org claims to automagically add npm support to Python projects.  Does pipenv's __Pipfile.lock__ file serve a similar to __package-lock.json__ or completely different?  I know little about npm.

[2018-01-24 08:56] ankan17 opened #471 "mongodb instead of mongod in the local installation docs"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The ![local.md](https://github.com/ankan17/query-server/blob/master/docs/installation/local.md) file in the docs/installation folder currently says `sudo service mongod start` which gives an error when run on Ubuntu.

**Expected behavior:**
It should instead say `sudo service mongodb start`

**Steps to reproduce

[2018-01-24 08:58] ankan17 commented on #471
This is just a possible error in the docs which I encountered during installation. Can I get assigned to this issue?

[2018-01-24 09:12] rupav commented on #471
https://github.com/fossasia/query-server/pull/454. Already a PR regarding this issue, also see commenTs. Mongod is correct indeed.

[2018-01-24 09:19] ankan17 commented on #471
Okay. Thanks for the clarification. Closing this issue.

[2018-01-24 09:19] #471 closed

[2018-01-24 16:33] ankan17 commented on #461
I have eliminated the use of search_without_count() entirely and these are the changes caused:

+ No change to the search engines except youtube and quora. Working as they worked previously.
+ Quora now provides all the results as it would without any count (don't know why but quora returns a maximum of 10 results even when the count is set higher). Only change is that quora search now responds to

[2018-01-24 16:42] cclauss commented on #461
Nice progress @ankan17

I believe that your findings correspond with my notes above.  For Quora and YouTube, you can set __num_results=10__ given that is what the upstream search engine seems to default at.  If the caller sets __num_results=100__ then the query server will only return 10 as I discussed above.  Thanks for your work on this important simplification.

[2018-01-24 20:03] ankan17 commented on #461
Youtube gives more than 10 results. The current behaviour is: Quora returns a max of 10 results even if **num_results=100** because that is what the quora engine returns. Youtube gives more than 10 results. So if **num_results=100**, youtube returns all the results (less than 100). Without count, both quora and youtube return a maximum of 10 results. So, I guess I don't need to change any more cod

[2018-01-25 09:18] bhaveshAn commented on #320
@Remorax reminder

[2018-01-25 17:41] Remorax commented on #468
And I would like to work on Yahoo and Bing 😄

[2018-01-25 17:43] Remorax commented on #320
Oh, yeah sure @bhaveshAn work on DuckDuckGo and I'll work on Baidu 😄
And if anyone wants to work on any search engine, please post here and confirm whether somebody else is working on it or not, so as to not waste anybody's time. Thanks 😄

[2018-01-25 21:23] bhaveshAn opened #472 "Add News search support for Mojeek"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, no support for News search in Mojeek.
**Expected behavior:**

Adding News search support for Mojeek
**Steps to reproduce:**

**Yes, wanna work on this issue**

[2018-01-25 22:33] bhaveshAn opened #474 "Add News search support for Parsijoo"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, no support of news search for Parsijoo.
**Expected behavior:**

Add News search support for Parsijoo.
**Steps to reproduce:**

**Yes, wanna work on this issue**

[2018-01-25 23:08] bhaveshAn opened #476 "Add News search support for Baidu"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, no support for news search in Baidu.
**Expected behavior:**

Adding news search support in Baidu.
**Steps to reproduce:**

**Yes, wanna work on this issue**

[2018-01-26 06:57] cclauss commented on #461
Three tests on a popular search term like “Fossasia” for each scraper:
1) do not supply a __num_results__ value and test that default value number of results are returned
2) supply __num_results=2__ and then test that exactly 2 results are returned
3) supply __num_results=27__ and then test that exactly 27 results are returned (or explain in the test why fewer that 27 will be returned).

Happy hun

[2018-01-26 11:54] #456 closed

[2018-01-26 12:05] gabru-md commented on #428
What is the status of this issue?

[2018-01-26 12:21] #462 closed

[2018-01-26 13:57] ankan17 commented on #461
Do I modify the existing tests which employ search_without_count() or delete them? @cclauss

[2018-01-26 14:11] bhaveshAn commented on #461
Make your own no need to delete

[2018-01-26 16:59] ankan17 commented on #461
@bhaveshAn But the tests that have search_without_count() will fail since there is no such function

[2018-01-26 17:17] cclauss commented on #461
Yes.  Those ones you need to modify or delete.

[2018-01-28 02:20] #464 closed

[2018-01-28 08:11] rupav opened #480 "Heroku deploy instructions are not helpful for windows user."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Expected behavior:**

Correct installation steps of heroku on window.
refer https://github.com/fossasia/badgeyay/issues/530 .

I am working on it.

[2018-01-28 16:11] #480 closed

[2018-01-28 16:24] realslimshanky commented on #466
@cclauss we only use `npm` for `bower` or other node packages and `pipenv` for all python packages. Hence, you can say adding `package-lock.json` gives us similar functionality to what `Pipfile.lock` gives us for python.

[2018-01-28 17:15] dgarvit opened #482 "Google image search is not working"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

Google image search does not work

**Expected behavior:**

Google image search should work

**Steps to reproduce:**
Try searching a query on Google and type image.

Yes, I'd like to work on this issue.

[2018-01-28 18:01] vaibhavsingh97 commented on #482
Hi @dgarvit I was working on it and can you give me some time to send PR

[2018-01-28 18:05] dgarvit commented on #482
Sure @vaibhavsingh97 . my apologies I assumed the feature has been integrated :smile:

[2018-01-28 18:11] realslimshanky opened #483 "Small UI bug in mobile view"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
A small bug in UI can be seen when choosing 'duckduckgo' or 'dailymotion' while in mobile view as below. Also, the padding of the dropdown and it's label i.e. `Engine:` is not correct as it is touching the boundary.

![image](https://user-images.githubusercontent.com/10004530/35485355-7252c5e4-0484-11e8-87f9-0ea

[2018-01-29 09:35] rupav commented on #483
@realslimshanky I would like to work on it.

[2018-01-29 09:50] Remorax opened #484 "Refactoring code"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
The current code very badly needs to be refactored, since after addition of image, video and news search a lot of dead code has sprung up.

**Expected behavior:**
The code needs to be refactored.

I would like to work on this.

[2018-01-29 14:18] realslimshanky commented on #483
@rupav nice. would be waiting for your PR.

[2018-01-29 14:19] realslimshanky commented on #484
@Remorax could you please share an example of where the issues lie and how you are planning to refactor it?

[2018-01-29 15:53] #455 closed

[2018-01-29 16:33] #420 closed

[2018-01-29 17:52] #472 closed

[2018-01-29 17:52] #474 closed

[2018-01-29 17:52] #476 closed

[2018-01-29 19:59] Remorax commented on #484
@realslimshanky  Most of the functions in `generalized.py`, like `video_search_without_count`,`image_search_without_count`, `video_search` take up around 50-60 lines of code and are entirely redundant. The reason I had made the function `call_appropriate_parser` while making the PR for Yahoo Search is to avoid this redundancy. But the people who made the PRs for the other search engines didn't use

[2018-01-31 19:02] dilraj45 opened #490 "Add unit tests for twitter.py"
Add the missing unit tests for twitter.py

[2018-01-31 19:02] dilraj45 commented on #490
Claiming

[2018-02-01 13:50] #483 closed

[2018-02-01 14:17] bhaveshAn commented on #468
So this be closed or any search engine left ?

[2018-02-01 14:22] bhaveshAn commented on #445
Right now we are having nice UI. Also none of screenshots provided in Expected behavior looks good to me. May be we can try something new, but not repositioning the different items.

[2018-02-01 14:24] bhaveshAn commented on #430
Not required.
Already the API is nice.
Thanks for suggestions.

[2018-02-01 14:24] #430 closed

[2018-02-01 14:26] bhaveshAn commented on #415
Can be closed.

[2018-02-01 14:26] #415 closed

[2018-02-01 14:28] bhaveshAn commented on #137
@mariobehling Please can we have discussions on this.

[2018-02-01 16:10] #484 closed

[2018-02-01 16:52] rupav opened #492 "Remove inline css"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Inline css.
**Expected behavior:**

seperate css file.

**I am working on it**.

[2018-02-01 16:54] rupav commented on #492
@vaibhavsingh97 @cclauss . Suggest if any other css file needs to be created, I will be editing already created style.css otherwise.

[2018-02-01 21:22] #490 closed

[2018-02-02 05:26] rupav opened #494 "Both parsijoo and google search engines crashing the app."
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Expected behavior:**

App should stop parsing if taking too much time.

**Steps to reproduce:**
go to https://query-server.herokuapp.com/, search `chelsea` on google, or `parsijoo`, and select `news` option. Rest search engine works.

![screenshot 2018-02-02 10 50 33](https://user-images.githubusercontent.com/20624380/35717823-906f

[2018-02-02 08:38] bhaveshAn commented on #494
Google News search is not been implemented yet.
For Parsijoo, goto: http://khabar.parsijoo.ir/search?q=chelsea There isn't any result corresponding to `chelsea` in News search.

[2018-02-02 11:30] rupav commented on #494
@bhaveshAn so what do you suggest, should be done in such cases? Because these are crashing the app.
@cclauss @realslimshanky @vaibhavsingh97 please add your suggestions too.

[2018-02-02 13:59] bhaveshAn commented on #494
Yes, you can send the PR to deal these undesirable cases.

[2018-02-02 17:02] realslimshanky commented on #494
@rupav also, for google news there should be another issue so please remove the mention of google news from the issue name to avoid confusion.

[2018-02-02 17:04] realslimshanky commented on #492
It's better to have just one css file to contain all the styling needs. You can also make is possible by modifying the existing ones.

[2018-02-02 18:12] rupav commented on #492
@realslimshanky you can review https://github.com/fossasia/query-server/pull/493, made changes in already existing styles.css file only.

[2018-02-02 18:15] rupav commented on #494
@realslimshanky updated.

[2018-02-03 12:08] umangahuja1 opened #496 "Adding CSV format in documentation"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**
csv format details are missing from documentation as proposed earlier in issue #415

**Expected behavior:**
adding csv format in documentation

**Steps to reproduce:**
Minor changes in documentation is required.

I will send a PR.

[2018-02-03 14:34] #496 closed

[2018-02-03 17:48] #466 closed

[2018-02-03 18:15] #492 closed

[2018-02-03 18:16] realslimshanky commented on #445
@bhaveshAn agreed. An entirely new UI would be a better option to go with in order to better enhance visitor's experience. Elements on the website have been added up until now as per need. We can redesign how they look in order to enhance the styling.

[2018-02-04 18:45] 0x48piraj commented on #445
Any ideas? @realslimshanky @bhaveshAn
These details are very vague.

[2018-02-05 04:30] raju249 commented on #494
Sometimes some search engine URLs redirect you to their captcha page.
This is why it keeps on loading forever.

[2018-02-05 04:42] rupav commented on #494
Thanks @raju249 for your input, can you give some suggestion on where to look to solve this.
For example, as I see the logs, I encountered that `GET` request from such site (e.g. parsijoo with query `chelsea`) produces 404 error.
So I was trying to print and play around with `requests.get(url,...).status_code` to handle 404 error case. https://stackoverflow.com/questions/15258728/requests-how-to-t

[2018-02-05 04:49] raju249 commented on #494
Not sure about Parsijoo.
But try printing the response content from google.
I think they may be redirecting to captcha page or it may be possible that they have identified this as automated requests and have blocked access to your ip.
Just try `print response.text` to see what content in printed. Check the body specifically if its html.
Let me know what works.

[2018-02-05 04:51] raju249 commented on #494
I think this keeps the server in a infinite request response loop and finally the application crashes.
Please make this as a priority @vaibhavsingh97 .
Its hampering the clients using this server

[2018-02-05 04:52] rupav commented on #494
Ok, will try, will it be fine if I send you the response max by evening, need to rush to collg.

[2018-02-05 04:52] rupav commented on #494
Agreed @raju249 , this is indeed a priority issue, with such query, heroku app crashes, and I am not able to access it for few hours .

[2018-02-05 04:54] raju249 commented on #494
Yeah sure @rupav
Take your time.
I would investigate from my side as well.
Not claiming the issue, but would investigate.

[2018-02-05 05:07] raju249 commented on #494
I would suggest using google news API for news searches on google instead of scraping the web page.
This would be faster and also wont redirect to any captcha pages.
And I think we can be inside the quota limit.

Let me what you guys think.
@mariobehling @vaibhavsingh97 @anshumanv

[2018-02-05 13:10] rupav commented on #494
@raju249 solved it, give me time, will send a PR by tomm. evening max (got ill today 😫).
Actually I wasn't using `python server.py --dev` to show output. So silly of me. 😅.
Also response.status_code I used to verify is working fine !

[2018-02-05 15:38] raju249 commented on #494
Did you use Google news API ?
Or solved the existing issue with 404?

[2018-02-05 15:39] rupav commented on #494
using 404 validation

[2018-02-05 16:01] raju249 commented on #494
Cool 👍

On Mon, Feb 5, 2018, 9:09 PM rupav jain <notifications@github.com> wrote:

[2018-02-06 14:40] vaibhavsingh97 commented on #494
@raju249 Google News API is a good 👍 but what are it's limitations? @rupav Nice catch, Thanks for working on the issue. Also, Regarding Captcha, we can track this too 👍 and send User some feedback and prevent app from crashing.

[2018-02-07 08:19] vaibhavsingh97 commented on #494
@raju249 Yes, and how many free requests we can make ?

[2018-02-07 08:22] vaibhavsingh97 commented on #494
So only 1000 requests per day is allowed and we have to attribute News API too if you are in developer circle.
Ref: https://newsapi.org/pricing

[2018-02-07 08:25] raju249 commented on #494
How many hits do we get per day (in general, not just news ) ?
@vaibhavsingh97

[2018-02-09 18:28] rupav opened #499 "Block qtypes radio buttons for engines which are yet to be implemented for that engine."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

example: Google news is not implemented, yet one can make a query with it, leading to unexpected result

**Expected behavior:**

User cannot select those qtypes.('image', 'news' or 'video')

** I would like to work on it. **

[2018-02-09 18:49] realslimshanky commented on #499
Nice catch, looking forward to your PR.

[2018-02-09 18:53] rupav commented on #499
@realslimshanky waiting for @umangahuja1 response first. He is the one with this feature request, asked him on gitter too.

[2018-02-09 19:00] umangahuja1 commented on #499
Go ahead @rupav. We can surely discuss if something comes up in this issue later. Looking forward to your PR. I will try to improve some other feature of this project.

[2018-02-10 06:30] umangahuja1 commented on #468
Are all the engines done? There are some issues with Bing news though.
Searching cricket causes crash but bing delivers it unline Parsijoo news case where there were no urls.

[2018-02-12 04:50] rupav opened #501 "engines in dropdown should be in alphabetic order."
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

![2018-02-12 2](https://user-images.githubusercontent.com/20624380/36083929-255d4cf4-0fde-11e8-9509-09ca3f766810.png)
Its random.
**Expected behavior:**

with Alphabetic order, should be the list of engines
**Steps to reproduce:**
Go to http://query-server.herokuapp.com/, open engine dropdown.

[2018-02-12 04:50] rupav commented on #501
I am working on it.

[2018-02-12 06:03] vaibhavsingh97 commented on #501
Hi Rupa,

This is a beginner friendly issue. Please work on advance issue to make
this app stable

On 12-Feb-2018 10:20 AM, "rupav jain" <notifications@github.com> wrote:

[2018-02-13 05:10] #499 closed

[2018-02-13 17:01] #501 closed

[2018-03-03 22:53] lonnieOST opened #503 "Docker build errors out"
I'm submitting a bug in that the docker build according to:

https://github.com/fossasia/query-server/blob/master/docs/installation/docker.md

crashes out with the error

npm WARN lifecycle query-server@0.1.0~postinstall: cannot run in wd %s %s (wd=%s) query-server@0.1.0 bower install /usr/src/app
query-server@0.1.0 /usr/src/app
+-- bower@1.8.2
`-- husky@0.14.3
  +-- is-ci@1.1.0
  | `-- ci-info@1.

[2018-03-05 13:54] daxeel opened #504 "How do I scrapper for new Search Engine?"
I want to add a new search engine scrapper. I could not find any doc for this purpose. Can anyone please guide me to the process?

[2018-03-05 14:31] vaibhavsingh97 commented on #504
Hi @daxeel 👋
welcome to FOSSASIA!
Please open issue for the same, describing the name of search engine and purpose of adding.

[2018-03-05 16:40] realslimshanky commented on #504
@daxeel also read through the code of how other search engines are made. It's pretty straight forward.

[2018-03-06 05:37] daxeel commented on #504
@vaibhavsingh97 Ok. I will open an issue.
@realslimshanky I went through the code already.

[2018-03-06 05:44] rupav commented on #504
@daxeel you can see earlier pull requests which add search engines. There are many closed and merged for reference. You will get the idea how scraping works , and the workflow too.

[2018-03-06 06:22] daxeel opened #505 "Dailymotion scrapper is not working properly."
**I'm submitting a ...**
- [ ] bug report

**Current behavior:**
When we search for Dailymotion it gives 500 internal error
[code]

Working on this bug to solve. WIll make a PR.

[2018-03-07 10:22] lonnieOST commented on #503
Hello,
Are there any updates on getting the Docker image to build and run?
Thanks

[2018-03-15 08:30] djmgit opened #507 "Docker build command not proper"
The Docker build command is not proper in documentation (installation with docker)
Target is not specified.

**Present**
```docker build -t query-server:latest```

**Should be**
```docker build -t query-server:latest .```

[2018-04-20 08:40] #503 closed

[2018-04-25 20:38] ShubhamBansal1997 commented on #507
@djmgit I would like to work on the issue

[2018-05-10 18:11] party98 opened #508 "python2 to python3"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**
Currently the project is based on python2.7, but with python2.7's EOL near, the project should be converted to python3

**Expected behavior:**
Update dependencies to python3

[2018-07-02 08:39] #507 closed

[2018-07-25 13:35] moulikcipherX commented on #505
@daxeel I want to work on this issue..

[2018-07-25 17:20] bhaveshAn commented on #505
Assigned to @moulikcipherX

[2018-07-25 17:48] bhaveshAn commented on #233
@cclauss I am ready to co-develop it with you. That is a good idea.

[2018-07-25 18:53] cclauss commented on #233
Wow...  It has been a while.  But I am still up for collaboration on this.

[2018-08-01 19:35] starlord1311 commented on #505
@daxeel  @bhaveshAn can i work on this?

[2018-08-12 18:16] airsion commented on #382
can i do this issue

[2018-09-03 05:20] mariobehling opened #512 "Take out "project box" on start page and move version info to bottom"
The start page has project info that is already covered in the code repo. Please take out the box and only keep "version information". Move version info to the middle on the bottom of the page.

![screenshot from 2018-09-03 07-18-55](https://user-images.githubusercontent.com/1583873/44968733-dd980100-af49-11e8-960b-a84fd3b50b15.png)

[2018-09-03 05:23] mariobehling opened #513 "Take out "Submit" button and use JSON, XML or CSV as submit"
Instead of using "Submit" the user should get the results when they hit JSON, XML or CSV.

![screenshot from 2018-09-03 07-21-56](https://user-images.githubusercontent.com/1583873/44968799-2ea7f500-af4a-11e8-9bc9-de8bafd8e3dc.png)

[2018-09-03 05:28] mariobehling opened #514 "Simplify and improve submenu"
Please improve the submenu below the search box as follows:
* Delete "Engine", "Type", "Max"
* Keep the search engine dropdown menu and to the left of it implement a submenu more similar to Google
* If submenu items are not available, e.g. "News" show them on dark gray color
![screenshot from 2018-09-03 07-28-32](https://user-images.githubusercontent.com/1583873/44968935-fa810400-af4a-11e8-81b3-93

[2018-09-03 05:34] mariobehling opened #515 "Implement the text area in a similar way to api.loklak.org"
The text area has different fonts and style to other areas. Please follow https://api.loklak.org and implement the area in the same style.

![screenshot from 2018-09-03 07-32-39](https://user-images.githubusercontent.com/1583873/44969086-bb9f7e00-af4b-11e8-9383-703309785c86.png)

![screenshot from 2018-09-03 07-31-55](https://user-images.githubusercontent.com/1583873/44969089-bf330500-af4b-11e8-97

[2018-09-03 05:37] mariobehling opened #516 "Attach Search box components"
The search box components are currently separated. Please implement them in the same way as https://api.loklak.org.

![screenshot from 2018-09-03 07-37-28](https://user-images.githubusercontent.com/1583873/44969180-3bc5e380-af4c-11e8-89c3-85ee2373bf5c.png)

![screenshot from 2018-09-03 07-35-52](https://user-images.githubusercontent.com/1583873/44969163-218c0580-af4c-11e8-8e26-95cc329721a7.png)

[2018-09-03 05:42] #504 closed

[2018-09-03 05:42] #453 closed

[2018-09-03 05:43] #445 closed

[2018-09-03 05:43] mariobehling commented on #391
Duplicate of https://github.com/fossasia/query-server/issues/508

[2018-09-03 05:43] #391 closed

[2018-09-03 05:44] mariobehling commented on #314
It would be nice to have that, but I am unclear if we are really able to get this data easily.

[2018-09-03 05:45] #482 closed

[2018-09-03 05:47] #382 closed

[2018-09-03 05:48] #270 closed

[2018-09-03 13:12] vkartik97 opened #517 "Hashtag Search Not Working in Web Interface and Loklak API Request"
**I'm submitting a ...**
- [x] bug report

**Current behavior:**
- The Query sent to Loklak Server for Twitter Query is not URL Encoded, causing issue in Response from it.
- When using Hashtags for Search on Web Interface, it gives 404 Error, as the GET Request is missing the Query  : `http://localhost:7001/api/v1/search/google?query=`

**Expected behavior:**
The query-server should return the res

[2018-09-04 18:55] bhaveshAn commented on #517
Resolved by https://github.com/fossasia/query-server/pull/511 hence closing

[2018-09-04 18:55] #517 closed

[2018-09-04 21:12] nalawadepiyush commented on #265
@vaibhavsingh97  is this issue active or closed, if active i can take up and clean up the code with autopep8

[2018-09-04 21:14] vaibhavsingh97 commented on #265
@nalawadepiyush Sure, Please send PR 👍

[2018-09-04 23:12] nalawadepiyush opened #518 "Improvements for README.md"
Readme file for local installations -> mongodb server setup is only for ubuntu not for mac

For setup of mongodb for mac the commands are :

brew install mongo
sudo mkdir -p /data/db
whoami
sudo chown <output_of_whoami> /data/db

Open ./bashrc or .zshrc file and copy paste the contents below

export MONGO_PATH=<path_to_mongodb>
export PATH=$PATH:$MONGO_PATH/bin

To run mongod instance :
mongod
Kil

[2018-09-04 23:39] nalawadepiyush commented on #518
@mariobehling  I have raised the PR for the above changes. This is my first opensource discussion so please guide me.

[2018-09-04 23:57] nalawadepiyush commented on #512
@mariobehling  what enhancement do you need here can you elaborate? I'll try to solve this issue today itself.

[2018-09-09 11:52] dnuka opened #522 "Permission to work on issue #512, #515, #516"
Hi `fossasia/query-server` community!

My name is Dhanuka. I am from Sri Lanka. I am a self taught software developer and I would love to work on  #512 , #515 , #516  issues all together and submit one PR as my first contribution to the project as a participant of Codeheat. Is it OK to work on them all together or should I work on one at a time in three PRs? Any help is appreciated. @mariobehling

[2018-09-10 13:02] dave2d opened #523 "Hi"
can I work on query-server project with codeheat . What is the quickest way to getting touch with this project developers.

[2018-09-11 18:19] vkartik97 commented on #522
@dnuka
Please post messages on https://gitter.im/fossasia/query-server and not here.

[2018-09-11 19:09] cclauss opened #524 "Separating runtime requirements from development requirements"
__requirements.txt__ includes:
* [X] autopep8==1.4
* [ ] beautifulsoup4>=4.5.1
* [X] coverage>=4.3.4
* [X] coveralls>=1.1
* [ ] dicttoxml>=1.7.4
* [ ] feedgen>=0.5.1
* [ ] Flask>=0.12
* [ ] futures>=3.0.5
* [ ] html5lib>=0.9999999
* [ ] Jinja2>=2.9.5
* [ ] lxml>=3.7.2
* [ ] pymongo>=3.6.0
* [X] pytest>=3.0.6
* [X] pytest-cov>=2.4.0
* [ ] requests>=2.13.0
* [ ] webencodings>=0.5
* [ ] defusedxml>=0

[2018-09-11 19:54] vkartik97 opened #525 "Add Insturctions for Fork Syncing"
**I'm submitting a ...**
- [x] feature request

Contributors new to Open Source might have issue keeping their fork updated with the Project.
Instructions from the following Help Pages from GitHub can be added to [README.md](https://github.com/fossasia/query-server/blob/master/README.md) :
- https://help.github.com/articles/configuring-a-remote-for-a-fork/
- https://help.github.com/articles/syncin

[2018-09-12 16:48] dewanshrawat15 opened #526 "UI Improvement"
My name is Dewansh Rawat. I've participated twice in GCI, 16 and 17.

**I'm submitting a ...**
 - A request to improve the UI

**Current behavior:**
 - Currently, the UI is not that attractive

**Expected behavior:**
 - Improve UI/UX

**Steps to reproduce:**
 - Would introduce CSS heavily

[2018-09-13 13:17] rohitjain00 commented on #525
I'll be working on it

[2018-09-13 15:01] vkartik97 commented on #526
Please review points under **`Steps to Reproduce`**

[2018-09-13 18:11] bhaveshAn commented on #512
@nalawadepiyush This is what the objective is

[2018-09-13 18:13] bhaveshAn commented on #522
@dnuka If you find nobody working on any of these issues, then you can take it one at a time. Cheers!

[2018-09-13 18:13] #522 closed

[2018-09-13 18:14] bhaveshAn commented on #523
@dave2d Only these https://codeheat.org/#projects projects are in codeheat.

[2018-09-13 18:14] #523 closed

[2018-09-13 23:14] dnuka commented on #522
@bhaveshAn Thank you. Can you review #527

[2018-09-14 00:59] rohitjain00 commented on #526
I'll be working on its UI.

[2018-09-14 01:20] rohitjain00 opened #529 "Using enter to display a query"
**I'm submitting a ...**
- feature request

**Current behavior:**
When we type any text in the search box and press enter nothing happens.

**Expected behavior:**
After we type any text in the search box and press enter a search result with by default JSON format should be displayed.

**Steps to reproduce:**
Add a jquery keypress event to submit the form when enter key is pressed.

[2018-09-14 02:35] #512 closed

[2018-09-14 12:19] phoenixking25 commented on #529
@rohitjain00 assign me this

[2018-09-14 12:47] rohitjain00 commented on #529
@phoenixking25 A PR for this issue is already placed.

[2018-09-14 12:47] #529 closed

[2018-09-14 19:42] Pk13055 commented on #445
@mariobehling Is this a priority as of now? I can pick this up if required.

[2018-09-19 12:35] toonarmycaptain commented on #332
It seems to me that the primary issue here is distinguishing between tests/testing code and project/production code. I don't *want* to turn off the checking for asserts in my project code, but I do want the asserts used (sensibly) in my tests to pass checks for asserts silently.

Seems to me a solution would be to have a separate category for testing code, or code that pytest would run as tests, s

[2018-09-21 15:39] dewanshrawat15 commented on #516
Is the issue still open to work open..?? The attaching of the search box components..??

[2018-09-22 11:30] dewanshrawat15 commented on #516
@mariobehling Is the issue assigned to someone or can I start working on it directly ?

[2018-09-22 12:14] dewanshrawat15 commented on #516
I want to work on this issue, please assign me.

[2018-09-24 16:04] impiyush83 commented on #505
@bhaveshAn  @mariobehling  @vkartik97  will do it in few hours. I have figured out the problem.

[2018-09-26 16:44] soumya-ranjan7 commented on #515
@mariobehling @bhaveshAn Can you please assign me this issue?

[2018-10-02 16:03] Anupam-dagar opened #552 "Typo in local development setup instructions"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

**Current behavior:**

![query-server-local-md at master anupam-dagar-query-server 02-10-2018 21-31-31](https://user-images.githubusercontent.com/21174572/46361163-96a54480-c68a-11e8-8c29-600f501440d2.png)
currently it is sudo service `mongod` start

**Expected behavior:**

It should be sudo service `mongodb` start

**Steps to reprod

[2018-10-02 16:32] Anupam-dagar commented on #513
@mariobehling I would like to work on it.

[2018-10-02 17:01] Anupam-dagar commented on #505
I would like to work on this issue.

[2018-10-02 17:10] prabhupant opened #554 "New and improved readme"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**
I've filed a PR for it. Please review

[2018-10-03 06:14] prabhupant commented on #552
@Anupam-dagar it's correct. Refer to the docs here https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/

[2018-10-03 06:15] Anupam-dagar commented on #552
It was giving some error with mongod,I did with mongodb and it executed successfully,that's why I thought it was a typo.

[2018-10-03 09:22] prabhupant opened #557 "Add searx search"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

there is no option for searx search engine

**Expected behavior:**

**Steps to reproduce:**
i want to work on this one

[2018-10-05 06:30] #516 closed

[2018-10-05 06:37] #552 closed

[2018-10-05 06:48] #524 closed

[2018-10-09 11:23] bhaveshAn opened #560 "Move from Python 2 to Python 3 on Heroku deployment"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Currently, app deployed on heroku using python 2

**Expected behavior:**

Move from Python 2 to Python 3 on Heroku deployment
**Steps to reproduce:**

**Others can claim**

[2018-10-09 11:57] joeirimpan opened #561 "Add scraper for aol search"
**I'm submitting a ...**
- [ ] bug report
- [X] feature request

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

Adds scraper script for aol

[2018-10-09 12:19] bhaveshAn commented on #561
Please Refer to https://github.com/fossasia/query-server/issues/183#issuecomment-335227518

[2018-10-09 12:19] #561 closed

[2018-10-10 12:12] dnuka commented on #560
@bhaveshAn Hi, Can I work on this. Any tips before get started? :)

[2018-11-23 16:08] #525 closed

[2018-11-23 16:10] #513 closed

[2018-11-23 16:11] #557 closed

[2018-12-07 18:35] bhaveshAn opened #565 "Add python 3 tests and configure with Travis CI"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Current behavior:**

Only Python 2 testing is present.

**Expected behavior:**

Add python 3 tests and configure with Travis CI

**Steps to reproduce:**

**Others can claim**

[2018-12-07 18:36] bhaveshAn commented on #565
For Python 3 code, create PR against [python3](https://github.com/fossasia/query-server/tree/python3) branch

[2018-12-07 18:37] bhaveshAn commented on #560
First https://github.com/fossasia/query-server/issues/565 has to be solved. Contributors should create PRs against [python3](https://github.com/fossasia/query-server/tree/python3) branch. As we don't want to affect the python2 code which is stable.

[2018-12-21 13:38] anand-371 commented on #565
i am interested in this issue
could i be assigned

[2018-12-25 10:21] rajgoesout commented on #515
@mariobehling @bhaveshAn Hi! Can I work on this issue

[2019-01-15 12:21] areebbeigh commented on #514
I'd like for this issue to be assigned to me. I already have [an initial version](https://github.com/areebbeigh/query-server/tree/issue-514) ready to merge. Waiting for confirmation.

![screencapture-0-0-0-0-7001-2019-01-15-17_51_12](https://user-images.githubusercontent.com/15276828/51180330-31e6c080-18ee-11e9-992f-eda3a92ec8b4.png)

[2019-01-18 10:28] areebbeigh opened #566 "Fix pre-build issues [Travis CI]"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request

Currently the Travis builds are failing before running the tests at the following points during linting:

- `/app/scrapers/yahoo.py:82:17`
[code]

-  `./app/server.py:12:1`
[code]

Before running tests:

- There's also [a dependency clash in dev packages](https://github.com/pywbem/pywbem/issues/1371) preventing `pytest-cov>=2.6.0` fr

[2019-01-18 10:51] areebbeigh commented on #566
I'll create a PR after confirmation from maintainers.

[2019-03-07 03:55] #461 closed

[2019-07-08 10:01] manoadamro commented on #332
I actually stopped using codacy because of this, It was so frustrating that it couldn't figure out a file called `tests/test_some_thing` was a test file... I had 277 issues, all of them due to the use of assert.
surely any python file prefixed with `test_` is a test file right? Especially if it's in a folder called `tests`

[2019-07-08 19:48] toonarmycaptain commented on #332
@manoadamro Well unless you're working on assessments or worksheets maybe (eg `test_templates`, `test_solutions`), but once you run into this issue you'd think you'd change the filenames, or have all your tests under test_suite,
You can then do:
[code]
In your .codacy.yml file.

[2019-09-14 16:31] souravbadami commented on #526
@rohitjain00 -- Have you created any design document's related to the improvements you're planning ?

[2019-09-14 16:32] souravbadami commented on #526
@dewanshrawat15 -- Could you list down a few improvements you think might be helpful ?

[2019-09-14 17:33] dewanshrawat15 commented on #526
@souravbadami I think the search page is too clustered for instance. I am attaching a small rough wireframe of what kind of design I had in mind.

![idea](https://user-images.githubusercontent.com/17003127/64911786-d0f4de00-d743-11e9-8e8c-ff643d6b00d0.jpg)

[2020-02-26 18:16] #233 closed

[2020-02-26 18:17] #383 closed

[2020-12-20 17:48] DevSingh1101 commented on #265
@vaibhavsingh97 can I take up this issue?

[2020-12-20 17:53] cclauss commented on #265
This issue can be closed as the problem has already been fixed.

[2020-12-20 20:36] #265 closed

[2020-12-21 13:00] MohitPatni0731 commented on #508
Can I work on this issue

[2020-12-21 13:01] MohitPatni0731 commented on #560
Can I work on this issue.